@import "/fonts/dejavu-sans/index.css";
@import "/fonts/bebas-neue/index.css";
@import "variables";
@import "colors";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$container-width: 822px;

.intro-background {
  width: 100%;
  height: calc(100vh - 72px);
  display: block;
  background-image: url('/images/intro-background.png');
  background-size: auto 100%;
  background-position: center 0;
  background-repeat: no-repeat;
  background-color: #EBECED;

  .change-language {
    position: absolute;
    right: 30px;
    top: 20px;
    text-decoration: underline;
    color: #777777;
    font-size: 12px;
  }
}

nav.navbar {
  background-color: $dark-green;
  z-index: 1;

  .navbar-nav {
    width: 100%;

    li {
      width: 20%;
      background-image: url('/images/divider-vertical-white.png');
      background-repeat: no-repeat;
      background-position: 100% 5px;
      background-size: 1px 90%;

      a {
        padding: 25px 0;
        font-weight: 100;
        color: white;
        text-align: center;
        text-transform: uppercase;
      }
      a:hover, a:active, a:focus {  color: white; font-weight: 500;  }
    }
  }
}

.open-secondary-nav {
  position: fixed; top: 10px; left: 10px; z-index: 9;
  width: 48px;  height: 48px;  border-radius: 50%;
  cursor: pointer;

  background-image: url('/images/menu.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.secondary-navigation {
  position: fixed; top: 0; left: 0; z-index: 10;
  width: 100%; height: 100%;
  display: none;

  background-image: url('/images/nav-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  animation-duration: .5s;

  .close-secondary-nav {
    position: absolute; top: 10px; left: 10px;
    width: 48px;  height: 48px;  border-radius: 50%;
    cursor: pointer;
    
    background-color: #2D5B64;
    background-image: url('/images/arrow-left.png');
    background-repeat: no-repeat;
    background-size: 14px;
    background-position: center;
  }

  .container {
    padding-top: 20px;
    width: $container-width;

    h3 {
      font-family: 'Bebas Neue';
      font-size: 2em;

      a {color: $light-green;}
    }

    ul {
      padding: 0;
      padding-right:10px;
      list-style-type: none;
      background-image: url('/images/divider-vertical.png');
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 1px 99%;

      li {
        padding: 3px 0;

        a {color: #646C70}
      }
    }

    .contacts {
      margin-top: 20px;
      padding-top: 5px;
      background-image: url('/images/divider-horizontal.png');
      background-position: 0 0;
      background-repeat: no-repeat;

      .contact-info {
        font-weight:bold;
        color: black;

        a {
          color: black;
        }
      }
    }
  }
}

.scroll-top {
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: none;
  background-color: $dark-green;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: .5;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5) inset;

  background-image: url('/images/scroll-top-icon.png');
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;

  transition: opacity .5s;
  animation-duration: .5s;
}
.scroll-top:hover {
  opacity: 1;
}

.container.app {
  z-index: 0;
  width: $container-width;
  position: relative;

  .header {
    text-transform: uppercase;
    color: $light-green;
    font-family: 'Bebas Neue';

    h1, h2 { margin: 0; font-size: 42px;}
    h2 {
      position: relative; top: -10px;
      font-weight: 300;
    }
  }
  .header.margin {
    margin: 80px 0;
  }

  h4 {
    color: $light-green;
    margin: 20px 0;

    a {
      text-decoration: underline;
    }
  }

  h6 {
    color: #6D6E71;
  }

  p {
    text-align: justify;
    font-weight: 300;
    line-height: 1.2em;

    img.sign {
      position: relative;
      left: 150px;
      width: auto;
    }
  }
  p.first-letter::first-letter {
    font-size: 200%;
    color: $light-green;
  }


  img {  width: 100%; }
  img.pull-left {  margin-right: 30px; width: auto;  }
  img.green-border-bottom {  border-bottom: 1px solid $light-green;  }
  img.logo { margin-top: 60px; padding-left: 40px; }
  // show image load for lazyload
  img:not([src]) {
    visibility: hidden;
  }

  .divider {
    height: 1px;
    width: 100%;
    margin: 40px auto;
    display: block;
    background-color: black;
  }
  .divider.green { background-color: $light-green; margin: 10px auto; }
  .divider.transparent { background-color: transparent; }

  ul {
    padding: 0;
    font-weight: 300;
    line-height: 1.3em;

    li {
      list-style-type: none;
      background-image: url('/images/list-style-type.png');
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: 0 8px;
      padding: 5px 0;
      padding-left: 40px;
    }
  }
  ul.green-background, .green-background {
    background-color: #0E6E80;
    color: white;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.5) inset;
    padding: 20px;

    li {
      background-image: url('/images/list-style-type-white.png');
      padding-left: 40px;
    }
  }
  ul.indent {
    padding-left: 40px;
    li {
      padding: 5px 0;
      background-image:none;
    }
  }

  .green-background {
    padding: 0;
    p {
      font-weight: 100;
      padding: 10px 30px;
    }
  }

  .shadow-container {
    padding: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5) inset;
  }
}

footer {
  box-shadow: -1px -2px 5px rgba(0,0,0,0.2);
  height: 400px;
  width: 100%;
  display: block;
  background-image: url('/images/footer-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .container {
    width: $container-width;

    .footer-heading {
      padding: 40px;

      h1 {
        color: #777777;
        font-size: 64px;
        margin: 0;
        font-family: "Bebas Neue";
        font-weight:300;
      }
      h1:nth-child(2) {
        font-weight: 700;
      }
      
      a {
        color: #777777;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 992px) {
  .secondary-navigation {
    overflow: scroll;

    .container {
      width: 100%;
      text-align: right;
      padding-top: 50px;

      .row ul {  background-image: none !important; text-align: right; }
      .row.contacts { background-image: none; }
    }
  }

  nav.navbar {
    ul.nav.navbar-nav li {
      text-align: center;
      width: 100%;
      background-image: none;
    }
  }

  .container.app {
    width: 100%;

    img.logo {
      width: 40%;
    }
  }
}

.org-chart > span {
  position: absolute;
  top: 40%;
  color: $dark-blue;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-family: 'Bebas Neue';
}

.org-chart > span::after {
  content: 'Organizational Chart'
}

.org-chart:hover > span::after {
  content: 'Click To Zoom';
  text-decoration: underline;
}

@import "normalize";