doctype html
html
    head
        title Ameria Bank Annual Report 2016
        meta(charset="UTF-8")
        link(rel="stylesheet" href="main.css")
    body
        .open-secondary-nav
        .intro-background
            a.change-language(href="#") Armenian Version

        nav.navbar.navbar-default.no-border.no-radius
            .container-fluid
                .navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='#business-review') Business Review
                        li
                            a(href='#strategic-report') Strategic Report
                        li
                            a(href='#governance-report') Governance Report
                        li
                            a(href='#risk-management') Risk Management
                        li(style="background-image: none")
                            a(href='#financial-statements') Financial Statements

        include includes/secondary-navigation

        .scroll-top.animated.zoomIn

        .container.app
            include includes/business-review
            include includes/strategic-report
            include includes/governance-report
            include includes/risk-management
            include includes/financial-statements

        footer
            .container
                .footer-heading
                    h1 Annual Report
                    h1 2016
                    a(href="http://ameriabank.am/userfiles/file/Annual%20reports/2016/Annual_Report_2016_arm.pdf" target="_blank") Full version PDF