@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSans-ExtraLight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSansCondensed-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSansCondensed-Oblique-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSans-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSans-Oblique-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSansCondensed-Bold-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSansCondensed-BoldOblique-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSans-Bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Dejavu';
    src: url('DejaVuSans-BoldOblique-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
