.row#business-review
    .col-md-12
        img(data-original="images/watch.gif" style="margin-bottom: 40px;")

    .col-md-12.header#performance-highlights
        h1 Business Review
        h2 Performance Highlights

    .col-md-12
        img(data-original="images/leader-of-armenian-banking-sector-by.gif")

    .col-md-12.header#chairmans-statement
        h1 Business Review
        h2 Chairman's Statement

    .col-md-12.image-text
        img(data-original="images/andrew-mkrtchyan.png").pull-left.green-border-bottom
        p.first-letter Dear Customers, Shareholders and Partners,
            br
            br
            | I am proud to announce that we have completed yet another successful year, retaining our absolute market leadership by all key financial indicators. We managed to achieve almost all our business targets and significantly increase our profitability notwithstanding temporary macroeconomic turbulence and political uncertainty. Overall, it was quite a challenging year for the Armenian economy, caused by external factors stemming from Russia’s economic downturn and regional conflicts. In the environment of temporarily increased risk and significantly decreased consumer demand, Armenian economy still registered growth, with slowed but positive GDP growth rate.
            br
            | The changes in the Government brought positive expectations, especially in terms of foreign direct investments and development of business environment. With the parliamentary elections in April 2017, we can reasonably expect that the overall geopolitical vector and principal economic reforms will remain unchanged.
            br
            | The year was pivotal for the Armenian banking sector, as the deadline for complying with the Central Bank’s (CBA) requirement of increased regulatory capital was approaching. As a result, a significant amount of new capital was injected into the banking system, which should have a positive impact on the economy in the coming years.  The banking system went through significant restructuring and consolidation, with fierce competition among the major players. Under these market conditions Ameriabank not only retained its leading positions, but also significantly increased its market share, with impressive growth of both assets and profitability levels. Our main objective in the coming year is to maintain our leading position in the local financial market with an emphasis on improved profitability and continued discipline in cost efficiency. We remain committed to our strategic plan of IPO in the international capital market and set our business targets accordingly. We are in constant endeavors of growth opportunities, both organic and non-organic, targeting to outperform the market in terms of business growth. 2016 performance results have moved us one step closer to our strategic ambitions, with continued improvements in all aspects of our business mix. We believe that absolute market leadership, resilient growth, enhanced profitability and sound risk management will be our key drivers to a successful IPO.
            br
            | The road to international capital market requires not only outstanding financial performance, but also enhanced corporate governance, best in class internal control and transparency. We are proud to mark that Ameriabank has managed to reach significant milestones having one of the most advanced and transparent financial reporting in the local market and a corporate governance model in line with international best practice.
            br
            | We are steadily improving our business processes and service quality, with continuous investments in IT infrastructure and digital solutions. In line with global digitization trends in the banking industry, we have initiated major infrastructural projects in 2016, which will significantly optimize the work flow and improve client user experience.
            br
            | All these achievements were possible only due to diligent and hard work of our management and employees. I am proud to be part of this talented team that shares same core values leading to exceptional performance. I want to thank our team for their utmost devotion and great teamwork.
            br
            | Summing up our results and achievements, I would like to express my gratitude to all our clients, partners and shareholders for their trust, loyalty and continuous support of our business.
            br
            br
            span.color-green Andrew Mkrtchyan
            br
            | Chairman of the Board
            br
            | of Directors
            img.sign(data-original="images/andrew-mkrtchyan-sign.png")

    .col-md-12#chief-executives-review
        .divider

    .col-md-12.header
        h1 Business Review
        h2 Chief Executive's Review

    .col-md-12.image-text
        img(data-original="images/artak-hanesyan.png").pull-left.green-border-bottom
        p.first-letter It was another year of progress and new achievements, as Ameriabank continued to deliver on its business plan targets, overperforming the market in terms of growth, asset quality and profitability. We remain the largest financial institution in Armenia with leading positions by all key indicators.  We closed the year with a record growth of assets and loan portfolio: 39.4% and 61.4% Y-o-Y growth respectively. The CAGR of Bank’s assets for the last 5 years was 29%, increasing the market share from 9.7% to 17.4%. We continued to manage the largest loan portfolio in the Armenian banking sector, with 30% CAGR over the last 5 years. Our strategic goal is to retain our absolute leadership by continuously increasing our market share.
            br
            | A key metric for any company’s success is how it performs in a difficult macro-economic environment. the Armenian banking sector faced many challenges in 2016, caused by the Central Bank’s stiff regulation and staggering economy throughout the year. The CBA restrictive monetary policy succeeded in curbing exchange rate hikes, and AMD was one of the most stable currencies in the region, but as a result, banks had to bear huge reservation costs. A slowdown of economic growth was another challenge, triggering fierce competition among financial institutions in the environment of decreasing demand for credit. Despite turbulences in the economy and difficult times for banks, we managed to turn those challenges indicated above into opportunity. We registered growth in all our business lines, with 70% Y-o-Y growth in segment of corporate loans and 26% Y-o-Y growth in segment of retail loans. It’s noteworthy that the segment of retail SME loans had record-breaking Y-o-Y growth of 66%. Due to huge investments in retail distribution channels (branches, ATMs, distance banking) there’s a strong potential and momentum of further growth in retail business.
            br
            | Despite pressure on NIM caused by fierce competition in the banking sector, we registered 29% growth of net profit. Our profit share increased by 2.3 p.p. reaching 18.6% among profit-making banks. Our 12 month ROE comprised 10.2%, over-performing market average by 7.5 p.p.. To mitigate the pressure on NIM, we continuously decreased our cost of funding and deposit rates in 2016. Despite significantly lower rates, our deposits and bonds grew by 62%, Y-o-Y, which is a clear indication of both loyalty of our clients and the Bank’s high creditworthiness. We remain committed to further enhance the Bank’s profitability and significantly improve NIM and ROE.
            br
            | Throughout 2016 we implemented stringent risk control and focused on improving our asset quality further. Consequently, Our NPL (PAR 1+) decreased by 3.9 p.p. totaling 3.3%, which is far below market average of 7.7%, while NPL (PAR 90+) declined by 1.9 p.p., reaching 2.9%.  Our cost of credit risk improved significantly, declining by 0.6 p.p. to 1.5%.
            br
            | We continued our partnership with all major IFIs engaged in the region, with new deals signed in 2016: in the first half of 2016 20 mln senior debt facility agreement was signed with DEG, another USD 20 mln debt securities were placed via responsAbility Investments AG. Furthermore, in Q4 we signed a USD 20 mln senior loan agreement with Proparco and a local currency loan equivalent to USD 10 mln with EBRD.
            br
            | We accomplished significant credit enhancement with long-term IDR at “B+” and revised Outlook from Negative to Stable by Fitch Ratings. The revision of the outlook on the Bank’s rating to Stable reflects Fitch’s expectation that the Bank will remain resilient to pressures from the difficult operating environment. It also reflects the fact, that the Bank has a strong ability to absorb impairment through earnings and improved capital buffer following the USD 40 mln equity injection by EBRD in Q4 2015.
            br
            | 2016 was also marked by multiple reputable global awards and recognitions of excellence that the Bank received from The Banker Magazine, Global Finance Magazine and Euromoney, all signifying  our  leadership in the local market and high quality of services. We continue to be the most active investment bank in the local capital markets leading arrangers’ league table in Armenia. In 2016 we issued and successfully placed USD and AMD bonds of  around USD 20 mln total size, and plan more bond issuances in 2017 aiming to further diversify and lower the cost of our funding.
            br
            | The credit for our success goes to our loyal clients  who trust us, the shareholders who believe in our long-term success and last but not least to our dedicated team of professionals, that we are honored to have in Ameriabank. I am confident that we are on the right track to sustain our progress and will continue to deliver our mid and long term business targets.
            br
            br
            span.color-green Artak Hanesyan
            br
            | Chairman of the Management
            br
            | Board-General Director

    .col-md-12#historic-milestones
        .divider

    .col-md-12.header
        h1 Business Review
        h2 Historic Milestones

    .col-md-12
        h4 1910 - 2017
        p The Erivan Branch of Tiflis Trade Bank was built on Ter-Ghukasov Street in 1910. In 1916 Tiflis Trade Bank was renamed Caucasus Bank. According to archive records, most of monetary resources transferred to Armenia came through the Erivan Branch of Caucasus Bank. The latter was nationalized by the Decree of Revolutionary Committee, December 18, 1920. From February 1921 until March 1922 the building was occupied by the Armenian Telegraph Agency. On March 24,1922 the State Bank of Armenia moved in. The Communal Bank of Armenia was established in March 1924 and started its operations at 2 Nalbandyan Street (former Ter Ghukasov Street).In 1959 the Communal Bank was disbanded, and its assets and liabilities were passed to the Armenian branch of Stroybank located in the same historical building at 2 Nalbandyan. In 1974 the Armenian branch of Vneshtorgbank of USSR was established in the same building, the Armenian branch of Stroybank having moved to another location. In 1988 the Armenian Branch of Vnesheconombank of USSR was established in the building, to be reorganized into Armimpexbank (Armenian Import and Export Bank) CJSC in 1992. In 1995 the majority share of the bank was acquired by Computron Industries Establishment, which made it a bank with foreign capital.

        h4 2007 - 2009
        p In 2007 the majority (96%) of Armimpexbank shares was acquired by TDA Holdings Limited, and one of the oldest banks in Armenia embarked on a new development stage that became the turning point in its history. The Bank sharply replenished its resource stock and brought its services up to scratch with the best local and international standards. In 2008 Armimpexbank was renamed Ameriabank CJSC.

        h4 Awards & Certificates
        p In 2009 Ameriabank received a certificate of compliance with the ISO 9001:2008 international quality management standards.

        h4 Infrastructure & Innovation
        ul
            li In 2009, 2 branches were opened – in Kajaran (Syunik region) and in Yerevan (Kentron [Central] Branch), while the Head Office moved to a new building in Yerevan.
            li In the same year, became a principal member of VISA International and a member of Armenian Stock Exchange (ASE), followed by the launch of a new product offering in Armenia – full Visa Gold and MasterCard Gold package including additional services, such as IAPA discounts and travel insurance.
            li Joined the International Finance Corporation’s (IFC) Global Trade Finance Programme as an issuing bank.

        h4 Financial Deals
        ul
            li IFC: USD 5 mln trade guarantee as part of Global Trade Finance Programme and USD 15 mln loan for renewable energy finance in Armenia in 2009.
            li The Netherlands Development Finance Company (FMO), Deutsche Investitions und Entwicklungsgesellschaft mbH (DEG): USD 30 mln debt financing agreement, including USD 20 mln for small and medium enterprises (SME) and USD 10 mln for renewable energy (December 2009).
        h4 2010 – 2011
        p The Agreement on the Plan of a Merger between Ameriabank and Cascade Bank was executed and registered in June 2010. In November 2011 the sole shareholder TDA Holding Limited was renamed Ameria Group (CY) Limited. The Bank’s regulatory capital steadily increased throughout 2007-2013.

        h4 Awards & Certificates
        ul
            li Commerzbank: Award for Excellence for high quality international operations and Award for Excellence in Trade Finance in 2010, STP Award 2011 for excellence in performance of international transfers by straight through processing (99.85%).
            li Finalized and completed the introduction of environmental and social risk management system with assistance from FMO and DEG. Awarded certificate for appreciation by FMO and DEG receiving a reduction of the interest rate under the loan agreement executed earlier in December 2009.
            li IFC’s GTFP Award 2010 as the most active issuing bank in the Caucasus under the Global Trade Finance Programme and GTFP Award 2011 as the best issuing bank in the Caucasus.
            li Germany-based TŰV Rheinland reconfirmed the ISO 9001:2008 quality management certificate and extended it for 3 years.
            li The Best Bank of Armenia in 2010 award from The Banker magazine of Financial Times.
            li Euromoney 2011 Award for Excellence as the Best Bank in Armenia.

        h4 Infrastructure & Innovation
        ul
            li Opened 5 branches – 2 in outer regions (Dilijan, Vanadzor) and 3 in Yerevan (Cascade, Komitas and Moskovyan branches).
            li Received the status of Agent in medium and long-term Armenian Government (treasury) coupon bonds.
            li Signed International Swaps and Derivatives Association Master Agreement with IFC, which is an internationally recognized standard for risk management operations.

        h4 Financial Deals
        ul
            li The European Bank for Reconstruction and Development (EBRD): USD 10 mln loan agreement for development of private sector.
            li The Eurasian Development Bank (EDB): USD 30 mln credit facility agreement for SME financing.
            li The Asian Development Bank (ADB): USD 20 mln credit facility agreement for SME financing.
            li Commerzbank issued a bank guarantee in national currency (AMD) and provided a major loan facility without collateral (bilateral loan). For the first time ever such facility was provided by an international financial institution to an Armenian bank.
            li CARTA (Continuing Agreement for Reimbursement of Trade Advances) in the amount of USD 4 mln with Citibank. For the first time ever Citibank provided funds to an Armenian bank based only on good financial standing and reliable activities.

        h4 2012 – 2013
        p Ameriabank became the largest bank in Armenia by total assets and liabilities to customers.

        h4 Awards & Certificates
        ul
            li Commerzbank: Best Trade Financing Partner 2012 Award, STP Award 2012 for excellence (99%) in performance of international transfers, Excellence in Trade Finance Award 2013.
            li Best Issuing Bank in Europe and Central Asia by IFC.
            li Best GTFP Issuing Bank for Energy Efficiency in Europe and Central Asia by IFC.
            li The most active TF issuer in Armenia in 2012 according to EBRD.
            li Germany-based TŰV Rheinland reconfirmed the ISO 9001:2008 quality management certificate.
            li 2012 and 2013: Best Foreign Exchange Provider in Armenia, Best Trade Finance Bank in Armenia and the Best Bank in Armenia by Global Finance.
            li Euromoney 2012 Award for Excellence as the Best Bank in Armenia for the second year in a row.
            li Bank of the Year 2013 in Armenia by The Banker magazine of Financial Times.

        h4 Infrastructure & Innovation
        ul
            li Opened 2 branches in Yerevan (Shengavit and Sayat-Nova branches).
            li Joined Factors Chain International, a major global  factoring network, in 2013.
            li First in Armenia, offered a unique opportunity to obtain debut sovereign USD-denominated Eurobonds of Armenia circulated in international capital markets.
            li Launched Visa Internet acquiring services.
            li First in the Armenian banking sector was granted a confirming bank status by EBRD under Global Trade Facilitation Programme.

        h4 Financial Deals
        ul
            li Provided USD 15 mln for the reconstruction of a steelmaking plant in Charentsavan, Armenia, under the Global Trade Finance Programme of IFC.
            li DEG: USD 20 mln loan agreement for SME financing.
            li EBRD: USD 12 mln loan agreement for SME, renewable energy and energy efficiency financing.
            li Proparco: USD 15 mln credit facility agreement for SME financing in agriculture and food industry (Proparco’s first investment in Armenia).
            li Austrian Development Bank (OeEB): USD 15 mln loan facility agreement for SME, renewable energy and energy efficiency financing.
            li Signed an unprecedented deal for an Armenian bank: confirmed a letter of credit to a Kazakh bank, which is part of a large banking group.

        h4 2014 – 2015
        p Sustained the position of the leading bank in the Armenian economy by crossing the threshold of USD 1 bln in assets for the first time in the history of the Armenian banking sector.

        h4 Awards & Certificates
        ul
            li In 2015, Fitch Ratings reconfirmed Ameriabank’s foreign currency Long-Term Issuer Default Rating at “B+” (with Negative Outlook). The Bank’s IDRs were driven by its “B+” Viability Rating. Ameriabank became the first Armenian company to  receive a rating equal to that of the Sovereign – which is the best indicator used in the international practice to assess a company rating.
            li The Best Bank in Armenia by factoring transactions based on FY 2013 by International Corporate Intl Magazine 2014 Global Awards.
            li “Deal of the Year 2013” by EBRD for the deal between Ameriabank and Commerzbank guaranteed by EBRD.
            li STP Award 2013 for excellence in performance of international transfers by Commerzbank.
            li Best Exchange Member in Foreign Currency Market, Best Exchange Member in Repo/Swap Transactions (new nomination) and Best Account Operator-Custodian of Depository System in Foreign Securities Market by NASDAQ OMX Armenia.
            li Germany-based TŰV Rheinland re-confirmed Ameriabank’s ISO 9001:2008 international quality management certificate and extended it for 3 years.
            li Global Finance named Ameriabank the Bank of the Year in Armenia (2014, 2015), Best Subcustodian Bank in Armenia 2015, Best Trade Finance Provider in Armenia (2014, 2015), Best Foreign Exchange provider in Armenia (2014, 2015).
            li Euromoney 2014 Award for Excellence as the Bank of the Year in Armenia.
            li Bank of the Year 2015 in Armenia by The Banker magazine of Financial Times.

        h4 Infrastructure & Innovation
        ul
            li Opened 3 branches – Arshakunyats and Arshakunyats Plus branches in Yerevan and Kapan branch in Syunik region.
            li Launched in-house Contact Center with cutting- edge technologies and started 24/7 card service support through the Center.
            li Introduced new solution for online banking users – AmeriaToken mobile application generating one-time passwords. This was the first such application introduced in the banking sector of Armenia.
            li Launched Ameria Mobile Banking mobile application enabling clients to bank and manage their accounts 24/7 via smartphones and tablets.
            li Marketed new online card transfer system enabling to perform card-to-card and card-to-account transfers through Ameriabank’s website from any bank’s MasterCard, Visa or ArCa card to Ameriabank cards and accounts.
            li Signed agreement with Irish CR2 on introduction of BankWorld omni-channel remote banking platform – the first project of CR2 in Armenia.
            li Launched new banking service in Armenia – Ameria TV Banking jointly with Ucom fibre-optic network provider.
            li In the scope of queue management initiatives payment and cash-in terminals were installed in key locations of Yerevan and main branches of Ameriabank. Queue management software was introduced in several branches as a pilot project.
            li Introduced and upgraded several tools aimed at automation of bank operations and service improvement, such as:
            li customer identification system for Phone banking, ArCa, TV banking via SMS passwords,
            li mobileDigipass app for Blackberry to generate one-time passwords for online banking and mobile banking,
            li new MobileDigipass for iPhone/iPad.

        h4 Financial Deals
        ul
            li Signed the 80th trade finance deal under the EBRD Trade Facilitation Programme.
            li Upgraded the Bank’s portfolio through the purchase of a new credit portfolio from Norvik Universal Credit Organization.
            li OPEC fund for International Development (OFID): USD 20 mln loan agreement for SME financing.
            li FMO and OeEB: USD 25 mln syndicated loan agreement for SME, renewable energy and energy efficiency projects financing in Armenia.
            li FMO: USD 20 mln convertible subordinated debt facility agreement in 2014. For the first time in Armenia a local bank attracted convertible subordinated loan from an international financial institution.
            li IFC: USD 50 mln subordinated loan in 2015.
            li EBRD invested USD 40 mln and acquired an equity stake in Ameriabank late in 2015; at the first stage EBRD invested USD 30 mln to acquire a 20.7% share, while the remaining USD 10 mln will be used for further top-up of capital.

        h4 2016
        p Sustained the position of the leading lender of the Armenian economy by crossing the threshold of USD 1 bln in net loans for the first time in the history of the Armenian banking sector.

        h4 Awards & Certificates
        ul
            li In 2016, Fitch Ratings revised the Outlook on Ameriabank’s Long-Term Issuer Default Rating to Stable from Negative, while affirming the IDR at “B+”, reflecting Fitch’s expectation for the Bank’s leading position in the market and resilience to the challenges and pressures of the external environment.
            li STP Award by Commerzbank for excellence in processing international transactions based on 2015 results.
            li “Deal of the Year - Energy Efficiency” by EBRD for improving the energy efficiency of greenhouse infrastructure in Armenia during 2015. 
            li Bank of the Year Europe Banking Awards 2015 by EMEA Finance magazine.
            li Best Foreign Exchange Provider in Armenia 2016, Best Investment Bank in Armenia 2016, Best Bank in Armenia 2016 by Global Finance magazine.
            li Euromoney 2016 Award For Excellence as the Bank of the Year in Armenia.
            li Bank of the Year 2016 in Armenia by The Banker magazine of Financial Times.

        h4 Infrastructure & Innovation
        ul
            li Expanded its network of branches with extended working schedule branches, opening one more such branch in Yerevan (Yeritasardakan branch).
            li Two express banking 24/7 self-service points opened in Yerevan.
            li Expanded the range of services provided via phone banking.
            li Improved card payment vPOS module enabling customers to register their card once and make payments without having to enter data each time.
            li Started cooperation with Ministry of Justice within the framework of United Office for Public Services Provision.

        h4 Financial Deals
        ul
            li EBRD: the 100th trade finance deal under the EBRD Trade Facilitation Programme, a credit line agreement of USD 10 mln within the framework of EBRD’s Women in Business programme aimed to support female entrepreneurship.
            li DEG: signed USD 20 mln loan agreement aimed at SME financing.
            li Proparco: signed USD 20 mln loan agreement aimed at SME, energy efficiency, renewable energy, health and education project financing.
            li Global Climate Partnership Fund (GCPF): USD 30 mln unsecured loan agreement aimed at financing renewable energy and energy efficiency projects.
            li Placed USD 20 mln debt securities with four Luxembourg-based funds via its new international partner - investment manager responsAbility Investments AG, with its proceeds channelled into SME lending and renewable energy financing.

        h4 Corporate Social Responsibility

        p Ameriabank is proud of its successful track record of balancing the interests of its stakeholders, including shareholders, clients, employees and the communities, in which it operates.
            br
            br
            | The Bank has nourished integrity, trust, and highly ethical behaviour as the main foundation of its business conduct. The uncompromised dedication to these values has allowed the Bank to prudently serve individuals as well as businesses of all sizes and win their mutual trust and loyalty. The financial strength of the Bank ensures the fulfillment of its main responsibility for keeping its clients’ financial assets safe. The Bank has become an economic driver for Armenia as the leading financial company in the country.
            br
            br
            | In 2016 Ameriabank continued to demonstrate its responsible approach towards addressing the social problems of the community via sustainable and sound corporate social responsibility (CSR) activities that extended beyond its business practices to sharing professional knowledge with younger generation and business community, financing educational programs, supporting children’s healthcare and welfare, as well as community development initiatives.
            br
            | Following its principles of integrity and trust, at the end of 2016 Ameriabank formed Corporate Social Responsibility Committee, consisting of 7 members from 7 different departments of the Bank, which ensures that CSR decisions are well-grounded and holistic and are based on the interests of the business in a broader sense.  The Committee is a dedicated collegial body responsible for execution of cohesive approaches towards corporate social responsibility and transparency in selection process of CSR partners and projects.

    .col-md-12#global-partners
        .divider.transparent
    .col-md-12.header
        h1 Business Review
        h2 Global Partners
    .col-md-12
        .divider.transparent
    // EUROPEAN BANK
    div
        .col-md-3(style="width: 33%")
            img.logo(data-original="images/logos/european-bank.png")
        .col-md-12
            .divider.green
        .col-md-12
            p The cooperation with European Bank for Reconstruction and Development (EBRD) started in 2010 when EBRD provided USD 10 mln line of credit to Ameriabank for SME financing. The same year the permanent and prolific cooperation began in Trade finance when EBRD provided the Bank a credit limit of USD 2 mln with the purpose of trade finance development, which currently amounts to USD 52 mln.
                br
                | In 2016 The Bank signed its 100th trade finance deal covered by the Trade Facilitation Programme of the EBRD. The same year Ameriabank became the first financial institution in Armenia to join EBRD’s Women in Business (WiB) programme, aimed to support female entrepreneurship. The credit line agreement totaling USD 10 mln equivalent in local currency was signed in December 2016.
                br
                | As a result of the successful partnership in trade finance EBRD has granted various awards to the Bank for many years on. Among such awards are the Most Active Issuer in Armenia, the Deal of the Year for financing the building of the new generation fibre-optic network in Armenia (2013), Deal of the year – Energy Efficiency for the greenhouse energy efficiency improvement project (2015). Ameriabank also became the first bank in Armenia to receive a confirming bank status under the Trade Facilitation Programme (TFP) by EBRD.
                br
                | In December 2015, the EBRD signed its largest single ticket equity deal in the region with up to USD 40 mln contractual amount (of which 30 mln is already disbursed). The EBRD acquired a stake of around 20.7% The goal of the investment was to strengthen Ameriabank and prepare the bank for a future IPO. In the course of 2016 a non-executive member joined Ameriabank’s Board of Directors representing the EBRD.

        // IFC INTERNATIONAL FINANCE CORPORATION
        .col-md-12
            .col-md-3(style="width: 33%")
                img.logo(data-original="images/logos/ifc-international-finance-corporation.png")
            .col-md-12
                .divider.green
            .col-md-12
                p Ameriabank started its cooperation with International Finance Corporation (IFC), a member of the World Bank Group, in 2009, expanding its financing to the renewable energy sector: a USD 15 mln loan was provided to the Bank to finance small hydropower plants funding programmes in the country. The cooperation also included trade finance transactions, which had its contribution to the process of Ameriabank becoming the leading trade financier in the country. By and large, this cooperation also impacted the development of trade finance instruments in Armenia. Thanks to increasing mutual trust and strong cooperation, IFC extended the credit limit in trade finance provided to Ameriabank up to USD 40 mln USD to foster international trade.
                    br
                    | The Most Active GTFP Issuing Bank in the Caucasus award in 2011 and The Best GTFP Issuing Bank for Energy Efficiency in Europe and Central Asia in 2012 are the best evidence of successful and fruitful cooperation between the Bank and IFC. Moreover, these are the first awards that IFC granted to a bank in the South Caucasus.
                    br
                    | In 2014 IFC provided USD 9 mln loan on its own account and also mobilied another USD 9 mln loan from DEG for the construction of the first green business center in Armenia, implemented by Property Development Company. The total value of the project is about USD 37 mln, the rest of the investment being provided by the company itself.
                    br
                    | In December 2015, IFC provided USD 50 mln subordinated loan to Ameriabank, to support its capital and boost its capacity to lend to local enterprises, expanding access to finance and helping drive economic growth and job creation.
                    br
                    | By providing long-term capital support, IFC has aimed to increase the stability of Armenia’s banking sector and support the strategic goals of Ameriabank, its valued partner. Considering the quality of Ameriabank’s corporate governance, coupled with its solid growth, IFC’s USD 50 mln subordinated loan will help the bank grow and prepare for an initial public offering.

        // FMO
        .col-md-12
            .col-md-3
                img.logo(data-original="images/logos/fmo.png")
            .col-md-12
                .divider.green
            .col-md-12
                p Ameriabank started cooperation with The Netherlands Development Finance Company (FMO) in 2009 by signing a USD 30 mln loan facility agreement. The aim of this cooperation was to finance local SMEs and renewable energy programmes. Due to this cooperation, Ameriabank expanded its opportunities in the renewable energy and SME financing sectors.
                    br
                    | In 2010, Ameriabank with the support of FMO and DEG successfully completed the introduction and implementation of an Environmental and Social Management System (ESMS). Ameriabank was one of the pioneers in the region to have developed and implemented ESMS. As a result of this, FMO and DEG awarded Ameriabank a certificate of appreciation, as well as a reduction in the interest rate of the facility signed between FMO, DEG and Ameriabank in December 2009.
                    br
                    br
                    | In 2014, Ameriabank and FMO signed a USD 20 mln convertible subordinated debt facility agreement. For the first time since the formation of the banking system of the RA a convertible subordinate debt agreement has been signed between an International Financial Institution (IFI) and an Armenian bank which symbolized the growth of trust of international investors towards the Armenian banking sector.

        // ASIAN DEVELOPMENT BANK
        .col-md-12
            .col-md-3(style="width: 33%")
                img.logo(data-original="images/logos/asian-development-bank.png")
            .col-md-12
                .divider.green
            .col-md-12
                p Asian Development Bank (ADB) and Ameriabank commenced their cooperation in 2011 having signed agreements, which allowed both to attract funds and to support trade finance transactions promoting sustainable growth of the local businesses. In 2011 a credit facility of USD 20 mln was provided to the Bank aimed to support SME development in the country. As a result of successful cooperation in trade finance, in 2016, the limit for trade finance reached USD 14 mln.

        // PROPACRO
        .col-md-12
            .col-md-3
                img.logo(data-original="images/logos/proparco.png")
            .col-md-12
                .divider.green
            .col-md-12
                p In 2013, Proparco, the private sector financing arm of Agence Française de Développement (AFD), and Ameriabank signed a USD 15 mln credit facility agreement. The transaction was Proparco’s first investment in Armenia and the second one in the South Caucasus aimed at opening new long-term financing opportunities for SMEs involved in agribusiness and the food processing industry.
                    br
                    | Ameriabank’s steady position in the banking sector stimulated the signing of the second USD 20 mln loan agreement in 2016. The new facility was aimed at SME, energy efficiency, renewable energy, health and education project financing.

        // KFW DEG
        .col-md-12
            .col-md-3
                img.logo(data-original="images/logos/kfw-deg.png")
            .col-md-12
                .divider.green
            .col-md-12
                p The Bank started its cooperation with Deutsche Investitions und Entwicklungsgesellschaft mbH (DEG) in 2009, when a joint Term Facility Agreement was signed with DEG and FMO. Since then the cooperation developed into the level of strategic partnership, when the second round of USD 20 mln loan agreement was signed with DEG in November 2012. The eight-year loan facility was designated to foster SME financing in Armenia. This cooperation was in line with the Bank’s strategy where SME financing is at the forefront of the Bank’s lending policy. Moreover, in May 2016 Ameriabank reaffirmed its strategic focus on SME segment, by signing another USD 20 mln loan agreement with DEG.

        // OEEB
        .col-md-12
            .col-md-3
                img.logo(data-original="images/logos/oeeb.png" style="width: 70%;")
            .col-md-12
                .divider.green
            .col-md-12
                p In 2013, Austrian Development Bank (OeEB) and Ameriabank signed a USD 15 mln loan agreement for a term of 8 years. In 2015 a USD 25 mln syndicated term facility agreement was signed with FMO, OeEB and Ameriabank. In both cases, the loans were directed at financing of SMEs, renewable energy and energy efficiency projects in Armenia.

        // RESPONSABILITY
        .col-md-12
            .col-md-3
                img.logo(data-original="images/logos/responsability.png")
            .col-md-12
                .divider.green
            .col-md-12
                p In 2016, Ameriabank strengthened its reputation in international capital markets by placing USD 20 mln debt securities with four Luxembourg-based funds via its investment manager responsAbility Investments AG. The proceeds from security placement were channelled into SME financing renewable energy and energy efficiency projects in Armenia.

        // GLOBAL CLIMATE PARTNERSHIP FUND
        .col-md-12
            .col-md-3
                img.logo(data-original="images/logos/global-climate-partnership-fund.png")
            .col-md-12
                .divider.green
            .col-md-12
                p The list of global partners was updated with another esteemed lender, such as Global Climate Partnership Fund (GCPF), with whom Ameriabank signed USD 30 mln unsecured loan agreement in December 2016. The facility will be aimed at financing renewable energy and energy efficiency projects.

        // OFID
        .col-md-12
            .col-md-3
                img.logo(data-original="images/logos/ofid.png" style="width: 70%;")
            .col-md-12
                .divider.green
            .col-md-12
                p In June 2015, Ameriabank and the OPEC Fund for International Development (OFID) signed a USD 20 mln loan agreement. This long-term facility was dedicated to SME financing in Armenia.

        // EURASIAN DEVELOPMENT BANK
        .col-md-12
            .col-md-3(style="width: 28%")
                img.logo(data-original="images/logos/eurasian-development-bank.png")
            .col-md-12
                .divider.green
            .col-md-12
                p In 2010, as a result of successful cooperation with Eurasian Development Bank (EDB), the Bank received USD 30 mln credit facility for SME financing in Armenia.

        // BLACK SEA
        .col-md-12
            .col-md-3
                img.logo(data-original="images/logos/black-sea-trade-and-development-bank.png" style="width: 70%;")
            .col-md-12
                .divider.green
            .col-md-12
                p Cooperation with Black Sea Trade and Development Bank (BSTDB) commenced in 2014, when USD 10 mln  credit was issued to Ameriabank for a term of 6 years under the mandate agreement. The project aimed to facilitate the Bank’s SME financing programmes.

    // AWARDS
    .col-md-12#awards
        .divider.transparent
    .col-md-12.header
        h1 Business Review
        h2 Awards
    .col-md-12
        .divider.transparent
    .col-md-12
        p.first-letter It is noteworthy that since 2010 Ameriabank has continuously been recognized as the best bank of the year by Euromoney Award for Excellence (2016, 2014, 2012, 2011) and The Banker magazine of the Financial Times Group (2016, 2015, 2013, 2010). Since 2012 for five consecutive years Ameriabank has received awards in several key nominations by Global Finance, among them The Best Foreign Exchange Provider in Armenia, The Best Trade Finance Bank in Armenia, The Best Subcustodian Bank in Armenia, The Best Investment Bank in Armenia and Тhe Best Bank in Armenia. In 2016 Ameriabank was triple awarded the Best Bank by Euromoney, Global Finance and The Banker magazines. Ameriabank also was awarded the Best Bank 2016 by EMEA Finance magazine.
            br
            | This consistency in recognition by international publications and partners was also maintained in specific areas of business. Ameriabank was awarded Commerzbank STP Award for excellence in processing international transactions based on 2015 results. Every year Commerzbank grants the award to its best partner banks worldwide recognizing their high performance in international transactions both in terms of quality and number. This was the eighth time Ameriabank received Commerzbank’s STP Award certificate since 2008. 
            br
            | In 2016 the EBRD awarded Ameriabank Deal of the Year - Energy Efficiency for improving the energy efficiency of greenhouse infrastructure in Armenia during the previous reporting year. 

        img(data-original="images/awards-section-image.png")

    // KEY PERFORMANCE INDICATORS
    .col-md-12#key-performance-indicators
        .divider.transparent
    .col-md-12.header
        h1 Business Review
        h2 Key Performance Inficators
    .col-md-12
        .divider.transparent
    .col-md-12
        img(data-original="images/key-performance-indicators.png")
        p.first-letter Ameriabank closed the year 2016 as the largest taxpayer among Armenian banks. With its assets up by 39.4% Ameriabank reconfirmed its position of the market leader by assets, which it held since Q1 2013.
            br
            | During the reporting period, Ameriabank’s assets totaled AMD 719.4 bln, exceeding the previous year’s record achievement of USD 1 bln by nearly USD 0.4 bln (the previous year’s total amount was AMD 515.9 bln). In 2015 Ameriabank was the first bank in the modern history of the Armenian banking system to cross the threshold of USD 1 bln.
            br
            br
            | In 2016 Ameriabank was an indisputable leader in the local banking market by all main financial indicators.
        ul
            li Loan portfolio (including leasing and factoring) increased by 61.4% reaching AMD 505.6 bln, while liabilities increased by 43.5% totalling to AMD 655 bln. Total capital of the Bank increased by 8.6%, and reached AMD 64.4 bln.
            li As of year-end 2016 the Bank’s net profit totaled to AMD 6.2 bln. Ameriabank became the leader of the Armenian banking sector by profit, thus becoming the leader of the system by five key financial indicators.
        p These results are not only emphasizing the leading position and reliability of the Bank, but also obliging it for further improvement and excellence as a market leader.

    // Development of technologies and infrastructure
    .col-md-12#development-of-technologies-and-infrastructure
        .divider.transparent
    .col-md-12.header
        h1 Business Review
        h2 Development of technologies and infrastructure
    .col-md-12
        .divider.transparent
    .col-md-12
        h4 Development of Technologies
        p Ameriabank aims at constantly excelling in its client service and providing comfort to its clients. Innovation has been firmly anchored in the mission of the Bank as a driving force for development. The Bank acts as a partner offering innovative, all-embracing and high quality financial solutions to the clients who run their business both in local and regional markets. The Bank continuously invests in financial R&D aiming to ease the processing of banking operations, to optimize and further personalize user-experience through distant banking and in particular through digital banking, and to match the complexity of clients’ needs with tailor-made financing solutions (e.g. special offers for employees of specific sectors of economy, referral rewards, special rates for loans for purchasing energy efficient technology etc.)
            br
            | While implementing innovative policies, Ameriabank promotes the following principles:
        ul
            li Innovation policy aligned with the strategic goals, ongoing development and progress of the Bank.
            li Orientation towards the best international practices, constant upgrading of technologies and implementation of modern banking solutions.
            li Client-oriented approach and state-of-the-art banking solutions tailored to client needs.
        p The combination of these three principles in the technological development rapidly propelled the Bank into a leading position in the Armenian banking system. Currently Ameriabank is a major financial institution standing by its clients as a reliable partner ready to face any challenge, keep abreast of international developments, come up with innovative solutions and implement cutting-edge technologies.

        h4 Customer Experience Improvements
        p Keeping the pace of modern banking technologies, Ameriabank aims at providing the most up-to-date solutions to its clients. In 2016 Ameriabank implemented a series of internal and external improvements that made Bank services and some essential non-banking services more accessible, secure and user-friendly.
            br
            | In terms of accessibility, Ameriabank expanded its network of payment terminals and ATMs with cash-out, cash-in and other payment and information inquiry functionalities (for more details see Geographical Footprint). The Bank joined the United Office for Public Services programme of Ministry of
            br
            | Justice within the framework of which Bank clients and all other RA citizens have gained an opportunity to receive centralized state services (e.g. receiving references regarding state registration of real estate ownership rights and legal entities,etc.) directly at Ameriabank’s Cascade Branch.
            br
            | The Bank also further improved card payment virtual POS (vPOS) module. The vPOS is a ready-made comprehensive solution that is designed to help clients avoid unnecessary hassle of dealing with programming and set-up issues, save time and start to promote the e-business immediately. It was eagerly accepted and put to practical use by the business community. In 2016, the Bank complimented vPOS with a recurrent payment function, i.e. clients can register their card once and make further payments without having to enter the same data and verify it for each payment separately. This technology was tailor-made to meet some of the needs of those clients that represent disruptive approaches in their industries and aim to implement most of their sales via online payments.
            br
            | In 2016 some of the other technological developments included the launch of USSD service and queue management system.  USSD service was launched with two out of three telecommunication operators in Armenia and has enabled Bank clients to access all cards issued by Ameriabank, view the balance, request mini-statements and immediately block cards in case of emergency via SMS. The queue management system piloted in 2015 and was successfully installed in Yerevan branches in 2016. Finally, as one of its major focus areas, Ameriabank is curently at the final stage of full-scale preparation for the launch of CR2 BankWorld omni-channel banking platform. The system will not only significantly improve clients’ user-experience in digital banking, but also activate new-to-market financial solutions.
            br
            | The Bank also continued the ongoing revision and development of internal policies and regulations in 2016. Amendments were mainly aimed at improving internal controls and discrepancy management, streamlining business-processes and bringing them into compliance with latest legislative changes. Some of the amendments included but were not limited to the following areas:
        ul
            li Banking services procedures and approval authorities: deposits, distant banking, fee charging, discounts and non-standard tariffs, safe deposit lockers, cash and settlement;
            li Lending limits and approval authorities for loans with non-standard terms and authority management scenarios based on macro-environment analysis;
            li Internal acts related to corporate governance.
        p As of year-end 2016 there were 19 policies, 25 regulations, 52 procedures, 81 instructions and 52 methodical guidelines in the internal regulation system of the Bank.

        h4 Financial Solutions
        p Ameriabank also works towards designing tailored financial solutions, which will best fit the needs of specific client segments. Namely, the Bank marketed several new products. Energy efficiency loans for SMEs enabled clients to get loans for purchase of energy efficient equipment and/or machinery, construction or renovation of energy efficient infrastructure or funding of renewable energy projects at preferential conditions. Some of the other lending solutions included refinancing offers and equity credit limits.The latter is a credit limit approved based on real estate and creditability indicators. Once the limit is approved, client can get loans, credit lines and overdrafts within the limit without further review of the credit history.
            br
            | “Refer a friend”  referral programme was launched to leverage the loyalty of existing clients and to offer rewards for each successful referral to the referring persons.
            br
            | In cooperation with Best Card LLC, Ameriabank introduced its “AYO” cashback programme, within the framework of which co-branded VISA AYO Classic and Visa AYO Gold cards were issued. Under this to the programme up to 21% cashback is provided to all cardholders (except Business Card and Gift Card holders) of the Bank while making payments at a broad range of partner companies.

        h4 Geographical Footprint
        p The Bank’s geography covers major metropolitan areas of the country, such as Vanadzor (Lori region), Dilijan (Tavush region), Kajaran (Syunik region), Kapan (Syunik region) and the most dynamic districts of Yerevan (the head office, and 8 branches in Yerevan). The operation of all branches and the head office are synchronized with a unified software infrastructure that allows Ameriabank’s clients to bank at any branch, irrespective of where the account was initially opened.
            br
            | In 2016, Ameriabank opened its 8th branch in Yerevan – Yeritasardakan Branch located in one of the shopping malls in the city centre. Thus, the Bank made another step to improve Bank’s accessibility after working hours and during the weekends. Along with the expansion of the branch network Ameriabank also installed express banking 24/7 full scope self-service terminals in Yerevan, aiming at providing better comfort for distance banking services to its clients. As of year-end 2016, the Bank had 108 ATMs, 1253 POS terminals, 179 vPOS terminals and 31 POS Cash terminals installed.
            br
            | The development of vPOS network is also well prioritized by the Bank, as it significantly improves business clients’ virtual customer service and end-consumers’ user-experience.
        img(data-original="images/armenia-map.png")