.row#financial-statements(style="margin-top: 60px")
    .col-md-12
        img(data-original="images/financial-statement-image.gif")
    .col-md-12.header.margin#independent-auditors-report
        h1 SUMMARY FINANCIAL STATEMENTS
        h2 INDEPENDENT AUDITOR’S REPORT
    .col-md-12
        h4 Independent auditors’ report on the summary financial statements
        p To the Shareholders and Board of Directors of Ameriabank Closed Joint-Stock Company

        h4 Opinion
        p The summary financial statements, which comprise the summary statement of financial position as at 31 December 2016, and the summary statement of comprehensive income, summary statement of changes in equity and summary statement of cash flows for the year then ended, and a related note, are derived from the complete audited financial statements of Ameriabank Closed Joint-Stock Company (the Bank) for the year ended 31 December 2016.
        p In our opinion, the accompanying summary financial statements are consistent, in all material respects, with the audited financial statements, on the basis described in Note 1.

        h4 Summary financial statements
        p The summary financial statements do not contain all the disclosures required by International Financial Reporting Standards. Reading the summary financial statements and the auditor’s report thereon, therefore, is not a substitute for reading the audited financial statements and the auditor’s report thereon.

        h4 The audited financial statements and our report thereon
        p We expressed an unmodified audit opinion on the audited financial statements in our report dated 23 March 2017. That report also includes the communication of key audit matters.
        The audited financial statements and the summary financial statements do not reflect the effects of events that occurred subsequent to the date of our report on the audited financial statements.

        h4 Management’s responsibility for the summary financial statements
        p Management is responsible for the preparation of a summary of the complete audited financial statements in accordance with the basis described in Note 1.

        h4 Auditor’s responsibility
        p Our responsibility is to express an opinion on whether the summary financial statements are consistent, in all material respects, with the audited financial statements based on our procedures, which were conducted in accordance with International Standard on Auditing (ISA) 810 (Revised), Engagements to Report on Summary Financial Statements.

        p CJSC Ernst & Young
            br
            | Yerevan, Armenia

        p On behalf of General Director A. Sarkisyan
            br
            | (by power of attorney dated 1 August 2016)

        .row(style="margin-top:40px")
            .col-md-6
                p.pull-left Partner (Assurance)
                p.pull-right Eric Hayrapetyan
                img.pull-right(data-original="images/eric-hayrapetyan-sign.png" style="width: auto; position: relative;left: 34px;bottom: 7px;z-index: -1;")
        .row
            .col-md-4
                p 25 April 2017

        img(data-original="images/summary-statement-table.png", style="margin-top:40px;")#summary-financial-statements

        p(style="margin-top:40px;") The financial statements were approved by the Management Board on 23 March 2017 and were signed on its behalf by

        .row(style="margin-top: 20px")
            .col-md-10.col-md-offset-2
                .row
                    .col-md-5
                        p Artak Hanesyan
                        p General Director
                        p Chairman of Management Board
                    .col-md-4
                        img(data-original="images/stamp.png")
                    .col-md-3
                        p(style="text-align:right") Gohar Khachatryan
                        p(style="color:white") empty
                        p(style="text-align:right") Chief Accountant

        img(data-original="images/summary-statement-table-2.png")

        h4 Note 1
        p As per law “On Banks and Banking” of the Republic of Armenia Ameriabank Closed Joint-Stock Company should publish its financial statements.
        p The accompanying summary financial statements, which comprise the summary statement of financial position as at 31 December 2016, and the summary statement of comprehensive income, summary statement of changes in equity and summary statement of cash flows for the year then ended, and a related note, are derived from the audited financial statements of the Bank for the year ended 31 December 2016 prepared in accordance with International Financial Reporting Standards.
        p The accompanying summary financial statements do not include all required information, which is presented in complete set of financial statements, particularly summary of significant accounting policies and other clarifying information which is required to disclose according to the International Financial Reporting Standards.
        p A complete set of financial statements of the Bank can be found at Ameriabank Closed Joint-Stock Company’s website.

        h4(style="margin-top: 40px")
            a.color-green(href="http://facebook.com") Click here for the full Financial statements and the Notes to financial statements.