.row#governance-report(style="margin-top: 60px")
    .col-md-12
        img(data-original="images/forecast-background.gif")

    .col-md-12.header.margin#chairmans-corporate-governance-statement
        h1 Governance Report
        h2 Chairman’s Corporate Governance Statement
    .col-md-12
        p.first-letter Dear Shareholders,
        p Being committed to the highest standards of corporate governance practices, we have continued our efforts throughout the year towards the excellence in corporate governance. We strongly believe that setting and following highest benchmarks in corporate governance is fundamental to the delivery of our strategic plans and for the long-term success of our business in general. Access to international capital markets is a fundamental part of our business strategy, so our corporate governance practices should be in line with relevant regulatory requirements and best international standards.
        p Corporate governance component is a key part of our pre IPO project plan, and is benchmarked against the top listed international banks.  In 2016 we managed to reach remarkable milestones in our project plan, with a new board structure and new regulations for enhanced corporate governance practices. We welcomed three new non-executive directors to the Board - Pierre Gurdjian, Oleg Tsarkov and Alexey Germanovich.
        p Pierre Gurdjian succeeded Gor Nakhapetyan, whose term expired. I would like to thank Gor for his commitment and vital role since first joining the Board in 2007. Gor Nakhapetyan has had an important role and made immense contribution to Ameriabank’s success during his term. Pierre Gurdjian is an experienced professional with prominent achievements in financial and advisory industries and we are truly honored to have him join our Board. We are also pleased to welcome Alexey Germanovich and Oleg Tsarkov as new non-executive directors to the Board. Alexey Germanovich represents European Bank of Reconstruction and Development as a professional independent director and one of Russia’s leading professionals in corporate communications and investor relations, while Oleg Tsarkov is an experienced investment banker and will greatly contribute given his extensive expertise in banking and financial services.
        p We have finished the process of establishing Board level committees, with all necessary internal regulations and procedures already approved and in force. With the formal legal prerequisites already in place, we are now moving on to the next stage of the actual practice. We are sure that the work of Board committees will lead to more effective and informed decision making by the Board, thus contributing to enhanced leadership and oversight by the Board.
        p We are happy to share our achievements in corporate governance and remain committed to further improvements and optimization, seeing it as an ongoing and never-ending process. We believe our advanced corporate governance will ensure effective interaction between our management and our stakeholders, helping us reach our strategic milestones and increase  shareholder value.
        p
            span.color-green Andrew Mkrtchyan
            br
            | Chairman of the Board of Directors

    .col-md-12.header.margin#corporate-governance-structure
        h1 Governance Report
        h2 Corporate Governance Structure
    .col-md-12
        .row
            .col-md-6
                p.first-letter The Bank’s corporate governance structure establishes the cornerstones of proper system for managing the relationship between the Management Board, the Board of Directors, shareholders and other stakeholders. The Bank’s corporate governance include the following bodies:
                p The General Meeting of Shareholders (GMS) is the supreme governing body which regulates and manages the main business directions of the Bank’s activity. GMS has the authority to approve all key decisions regarding the strategic development of the Bank.
            .col-md-6
                img(data-original="images/gms.png")

    .col-md-12.header.margin#board-of-directors
        h1 Governance Report
        h2 BOARD OF DIRECTORS
    .col-md-12
        p.first-letter The Board is responsible for the long-term success of the Bank by setting the strategy, defining core values and overseeing the management. Its purpose is to ensure maximum investment value for the Bank’s shareholders and protect other stakeholders’ interests.
        p A key objective of the Board is to ensure the implementation of effective internal control system and proper control of risks associated with the Bank’s  activities, by determining the acceptable risk appetite. There is an ongoing process in place for identifying, evaluating and managing significant risks, including those risks related to social, environmental and ethical matters. The Board develops policies and procedures, while the role of management is to implement the Board’s policies on risk and control and provide assurance on compliance with these policies. The overall responsibility for the systems of internal control and review of their effectiveness also rests with the Board.
        p The Board has primary responsibility for ensuring that, as a collective body, it has the appropriate skills, knowledge and experience to perform its role effectively. Key to ensuring the Board’s effectiveness is enabling Directors’ full access to information and management across the Bank. All Directors make every effort to attend each meeting, whether in person or with remote access. The Bank has a dedicated online platform for Board interaction – a Board Members’ portal. It’s a unique and highly secure environment enabling Board Members and corporate secretaries to collaborate, participate in daily Board-related activities and gather all the Board related data, including resolutions, meeting minutes, presentations, approvals and reports in one place. Users can access the portal from various devices, which provides the Board Members an opportunity to participate in discussions and decision making process from any part of the world with remote access. In addition, the Chairman and the Board members frequently conduct site visits and interact with staff at all levels. This gives them an opportunity to witness the culture and values of the organization in action, and also provides context to the formal information that they receive for Board meetings. The Board consistently probes, questions and explores the logic behind management actions, both in formal Board meetings and other informal interactions. The Chairman plays a particularly important role by ensuring that all Board members have the opportunity to contribute fully in all Board discussions.
        p The Board at Ameriabank is governed by the Board of Directors Regulation that outlines the key goals and objectives, scope of authorities, procedure of preparation, summoning and holding of the meetings of the Board.

        .row(style="padding: 40px")
            .col-md-12
                p As of 31 December 2016 the Board was comprised of seven directors:
                h6.color-black The Board of Directors Structure
                img(data-original="images/board-of-directors-structure.png")

        p The Board is responsible for the long-term success of the Bank by setting the strategy, defining core values and overseeing the management. Its purpose is to ensure maximum investment value for the Bank’s shareholders and protect other stakeholders’ interests.
        p A key objective of the Board is to ensure the implementation of effective internal control system and proper control of risks associated with the Bank’s  activities, by determining the acceptable risk appetite. There is an ongoing process in place for identifying, evaluating and managing significant risks, including those risks related to social, environmental and ethical matters. The Board develops policies and procedures, while the role of management is to implement the Board’s policies on risk and control and provide assurance on compliance with these policies. The overall responsibility for the systems of internal control and review of their effectiveness also rests with the Board.
        p The Board has primary responsibility for ensuring that, as a collective body, it has the appropriate skills, knowledge and experience to perform its role effectively. Key to ensuring the Board’s effectiveness is enabling Directors’ full access to information and management across the Bank. All Directors make every effort to attend each meeting, whether in person or with remote access. The Bank has a dedicated online platform for Board interaction – a Board Members’ portal. It’s a unique and highly secure environment enabling Board Members and corporate secretaries to collaborate, participate in daily Board-related activities and gather all the Board related data, including resolutions, meeting minutes, presentations, approvals and reports in one place. Users can access the portal from various devices, which provides the Board Members an opportunity to participate in discussions and decision making process from any part of the world with remote access. In addition, the Chairman and the Board members frequently conduct site visits and interact with staff at all levels. This gives them an opportunity to witness the culture and values of the organization in action, and also provides context to the formal information that they receive for Board meetings. The Board consistently probes, questions and explores the logic behind management actions, both in formal Board meetings and other informal interactions. The Chairman plays a particularly important role by ensuring that all Board members have the opportunity to contribute fully in all Board discussions.
        p The Board at Ameriabank is governed by the Board of Directors Regulation that outlines the key goals and objectives, scope of authorities, procedure of preparation, summoning and holding of the meetings of the Board.
        p The tenure of BoD members is defined by GMS and cannot be less than five years and more than ten years. The BoD Chairman and members can be re-elected. Those shareholders who own 10% and over of the placed shares of the Bank may be appointed BoD members or represented there without elections. Minority shareholders have the right to collectively include their representatives in the BoD.
        p The size and composition of the Board, the qualifications of its members and the balance of their skills have a significant impact on its effectiveness. The Board regularly reviews these matters, both in terms of what is needed now and what might be needed to be successful in the future. Recognizing the benefits of diversity in the Board, the current members of the Board have a wide range of skills and experience required to govern the Bank. Geographic diversity together with key professional expertise in banking, asset management, advisory, finance and international business form the core components of our Board succession planning.
        p The aim of Board’s succession planning is to ensure that the Board and management are always well resourced with the right people in terms of skills, expertise, and experience. The core principal is that even though new faces bring fresh ideas and perspective to how things are done, continued tenure brings a depth of the Bank specific knowledge that is important to retain.
        p The performance of the Board is a fundamental component of the Bank’s success. The Bank has Directors’ ongoing development programme in place that is tailored to the needs of each Director, and is committed to the Directors’ continual development, so that they may build upon their expertise and develop an ever more detailed understanding of the business and the markets.

    .col-md-12.header.margin#board-committees
        h1 Governance Report
        h2 BOARD COMMITTEES
    .col-md-12
        p.first-letter In 2016 the Bank has set and finalized the legal background for the functioning of Board level committees. The Bank currently has three Board level committees:
        img(data-original="images/audit-renumeration-coroporate-governance-and-nomination-committee-.png")
        p(style="margin: 20px 0") Delegation to the committees does affect or reduce the authority or responsibility of the Board of Directors. The committees perform their responsibilities independently. However, final resolution of relevant issues is ensured via submitting the committee’s decisions and projects to the Board of Directors for approval. As per Bank’s internal regulations, any topic that needs thorough elaboration should be first discussed at the committees level prior to the Board discussion.
        img(data-original="images/board-committee-structure.png")

    .col-md-12.header.margin#members-of-the-board-of-directors
        h1 Governance Report
        h2 MEMBERS OF THE BOARD OF DIRECTORS
    .col-md-12
        .row
            .col-md-12
                img.pull-left(data-original="images/gr-andrew-mkrtchyan.png", style="width: 25%; margin-bottom: 20px;")

                p(style="margin-top: 90px")
                    span.color-green.bold Andrew Mkrtchyan
                p
                    span.bold Chairman of the Board of Directors
                p Born on December 02, 1973

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Mkrtchyan was appointed Chairman of the Board of Directors on 27 November, 2013. Mr. Mkrtchyan served as Board member from 2007 to 2013 before being elected as the Chairman.

            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Mkrtchyan serves as the CEO and the Chairman of the Board of Directors of Ameria CJSC. His career embraces more than 20 years of professional experience in advisory and investment banking. He has extensive experience in strategic management. Mr. Mkrtchyan is the first businessman from Armenia to be a Founding Member of World Economic Forum New Champions Chapter. He is a Board Member to a number of private and public organizations.
                p Mr. Mkrtchyan was awarded Order of Honor by His Holiness Supreme Patriarch and Catholicos of All Armenians for his benevolent activities for Armenian Apostolic Church.

                h6.blue Education: 
                p Mr. Mkrtchyan received his Master of Science Degree in Economics from Yerevan State University. He received a scholarship from American Economic Association (AEA) for his scholar studies at Economics Institute, Colorado State University, as well as participated in number of executive programmes in different universities, including Kingston Business School, Harvard Business School, INSEAD GELI and others.


        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-robert-von-rekowsky.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 90px")
                    span.color-green.bold Robert von Rekowsky
                p
                    span.bold Independent Member of the Board of Directors
                p Born on July 26, 1966

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. von Rekowsky was appointed Independent Board Member in October 2012.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. von Rekowsky has over 28 years of experience in global asset management. He serves as a Vice-President at Emerging Markets Strategy of Fidelity Investments, managing several institutional and retail emerging market equity funds for U.S. and Canadian investors. Mr. von Rekowsky joined Fidelity’s fixed-income division in 1989. In 1995, he moved along with the emerging markets debt group into the company’s high-income division as a sovereign debt analyst. He continued in that role while working from Fidelity’s London office (1996-1998), when he moved into European equity research. From 2002 to 2004, Mr. von Rekowsky was an associate fund manager for the emerging markets funds, responsible for the EMEA region. In 2004, he relocated to Boston to assume responsibility for Fidelity’s global emerging market equity funds, first as a portfolio manager, then as VP.

                h6.blue Education: 
                p He received a Bachelor’s Degree in Political Science’s Government  from the University of New York at Albany (SUNY) and an Master of Arts Degree in Political Science from Northeastern University. He received an Master of Science Degree in Finance from Brandeis University.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-ruben-vardanyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 90px")
                    span.color-green.bold Ruben Vardanyan
                p
                    span.bold Non-executive Member of the Board of Directors
                p Born on May 25, 1968

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Vardanyan was appointed Board member on November 27, 2013. Mr. Vardanyan served as the Chairman of the Board starting from the incorporation of the Bank from in 2007 till November 2013.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Vardanyan is a prominent investment banker with more than 25 years of experience, a key figure in Russia’s capital markets establishment. He is a Founding Partner and Vice-Chairman of the International Advisory Board of Moscow School of Management SKOLKOVO, as well as Chairman of the SKOLKOVO Institute for Emerging Market Studies and Chairman of the Expert Council of the school’s Wealth Transformation Centre, board member at numerous entities in Russia and abroad, member of the Economic Advisory Board at the IFC, the private-sector arm of the World Bank Group. Prior to the merger with Sberbank in January 2012, he served as CEO, Chairman of the Board at Troika Dialog, one of the oldest and largest investment banks in Russia and the CIS. Mr. Vardanyan is a Board member at KAMAZ, SIBUR Holding, Joule Unlimited, Inc.. He was a board member in Rosgosstrakh and United Grain Company till 2015. Mr. Vardanyan is a member of the Investment Committee of Avica Property Investors International. He is a member of the Investment Council under the Chairman of the State Duma of the Russian Federation and a member of the Strategic Council for Investments in New Industries under the Ministry of Industry and Trade of Russia. Mr. Vardanyan serves on the International Advisory Boards at the International Christian University (Japan) and at Fundação Dom Cabral (FDC) business school (Brazil), as well as the
                p Boards of Trustees of the Russian Presidential Academy of National Economy and Public Administration and the Faculty of Economics at Lomonosov Moscow State University. He is also a member of the Supreme Religious Council of the Armenian Apostolic Church. In 2011 he was awarded with St. Mesrop Mashtots honorary order by the President of Armenia.

                h6.blue Education: 
                p Mr. Vardanyan received a Master of Science Degree in Economics from Moscow State University. He also studied various professional courses at INSEAD, Harvard Business School, Yale University and Stanford University.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-noubar-afeyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 100px")
                    span.color-green.bold Noubar Afeyan
                p
                    span.bold Non-executive Member of the Board of Directors
                p Born on July 25, 1962

                .divider.green(style="width: 35%; position: relative; left: -29px")
                p Dr. Afeyan was appointed Board member in July 2010.
            .col-md-12
                h6.blue Skills and Experience: 
                p Dr. Afeyan is CEO and  Senior Managing Partner of Flagship Pioneering, a technology entrepreneurship firm that has originated and fostered the development of more than 75 scientific ventures, 500+ issued patents, and more than 50 clinical trials for novel therapeutic agents since 2000 Dr. Afeyan has co-founded and helped build over 20 successful life science and technology startups during the past two decades. He was founder and CEO of PerSeptive Biosystems, a leader in the bio-instrumentation field. After PerSeptive’s acquisition by Applera Corporation, he was Senior Vice President and Chief Business Officer of Applera, where he initiated and oversaw the creation of Celera Genomics. He was one of the founders of Joule Unlimited Inc., a producer of alternative energy technologies. Currently Dr. Afeyan serves on a number of public and private company boards. He is a director of Flagship portfolio companies Affinnova, BG Medicine, Bind Biosciences, Ensemble Discovery, Helicos BioSciences, Joule Biotechnologies, LS9 and Eleven Biotherapeutics.
                p Dr. Afeyan also serves as an advisory board member at Deshpande Center for Technological Innovation at MIT, the Whitehead Institute at MIT, SKOLKOVO School of Management in Moscow and Dilijan International School. Mr. Afeyan was appointed Member of Board of Trustees of Massachusetts Institute of Technology in 2016. He has recently been awarded

                with the RA Prime Minister’s commemorative medal for his patriotic activities. Dr. Afeyan has authored numerous scientific publications

                h6.blue Education: 
                p Dr. Afeyan has received Bacelor’s Degree in Chemical Engineering from McGill University. He has earned his PhD in Biochemical Engineering from MIT.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-pierre-gurdjian.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 105px")
                    span.color-green.bold Pierre Gurdjian
                p
                    span.bold Non-executive Member of the Board of Directors
                p Born on February 8, 1961

                .divider.green(style="width: 35%; position: relative; left: -29px")
                p Mr. Gurdjian was appointed Board member in December 2016.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Gurdjian is the President of the Board of Directors of the Free University of Brussels, one of Belgium’s largest universities. In addition, Mr. Gurdjian has recently joined the RVVZ Foundation as Philanthropy Partner, focusing on the Foundation’s global philanthropic initiatives. RVVZ Foundation seeks to establish innovative and transformative ways to change the world through territory development and educational progress.p Mr. Gurdjian has extensive experience serving clients in industrial and consumer industries on matters of strategy, organization, operations and large-scale transformations across geographies, including post-merger integrations. He was a Senior Partner at McKinsey & Company, where he was active for 27 years. He was the Managing Partner of the Belgian-Luxemburgian office between 2005 and 2012, after which he took the international responsibility of the Human Capital Service Line in EMEA. In this capacity, he served his clients on building personal and institutional leadership capabilities. He was regularly involved in counseling CEO’s and chairpersons on governance matters and issues of cultural change and effectiveness of top teams. He was an active senior faculty member of several high profile client leadership forums (Bower Forum, Executive Transition workshop, Change Leaders workshop).
                p Mr. Gurdjian was also involved in internal learning programmes for Senior Partners as the co-Dean of the pivotal programme “Counseling Masterclass”, in collaboration with leading academics from INSEAD and Harvard University. He was an active participant in the creation and development of the “Armenia 2020” Think Tank. Mr. Gurdjian is a member of the Board of Directors and a member of the Nomination and Remuneration Committee of UCB, a leading Belgian biopharmaceutical company. He is a member of the World Presidents Organization (WPO), the President of the Board of Directors of YouthStart Belgium (formerly known as NFTE Belgium), and Past President of the Harvard Club of Belgium. He has a passion for philosophy around which he has developed an innovative leadership development programme (“Leadership and Wisdom”). He teaches a graduate course on “The CEO Perspective” at the Solvay Business School of the Free University of Brussels (ULB).

                h6.blue Education: 
                p Mr. Gurdjian has a Bachelor’s Degree in Commercial Engineering from the Free University of Brussels (VUB) and MBA from Harvard Business School. 

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-alexey-germanovich.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 115px")
                    span.color-green.bold Alexey Germanovich
                p
                    span.bold Non-executive Member of the Board of Directors
                p Born on February 8, 1961

                .divider.green(style="width: 35%; position: relative; left: -29px")
                p Mr. Germanovich was appointed Board member in August 2016. 
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Germanovich is a professional independent director, one of Russia’s leading professionals in corporate communications and investor relations. He has a 15-year experience of working in supervisory and executive boards in top Russian companies from a variety of industries, including financial sector, aviation and transport, automotive, metals & mining, media and telecom.
                p Currently Mr. Germanovich serves as a board member at “Aeroflot – Russian Airlines”, bank “Saint-Petersburg”, “E.ON Russia” (now – “Unipro”). Previous experience in boards of directors includes such companies as State Transport Leasing company (GTLK), S7 Airlines, International Airport “Irkutsk”, “SG-Trans”, broadcasting company “Ren-TV”, SOLLERS (Severstal-AUTO), Severstal Group, Russian Direct Investment Fund and others.  Mr. Germanovich also serves as Chairman of the Corporate Governance Committee for the Expert Council of Russian Federal Agency for State Property Management (Rosimushchestvo). He is a member of the Independent Directors Association (IDA), Russian Institute of Directors (RID), the Russian Union of Industrialists and Entrepreneurs (RUIE), Association of Corporate Directors and Managers (ACDM).
                p He was recognized as one of Russia’s top-50 best Independent Directors in 2013, 2014 and 2015 (according to leading Russian professional rating administered by Association of Independent Directors, PwC and the Russian Union of Industrialists and Entrepreneurs). His career also includes an experience as a lecturer and mentor. He served as a director of public projects, professor of practice at “SKOLKOVO” Moscow School of Management.

                h6.blue Education: 
                p Mr. Germanovich graduated from Lomonosov Moscow State University with degrees in economics and journalism. He holds an Executive MBA from Cranfield University in UK.


        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-oleg-tsarkov.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Oleg Tsarkov
                p
                    span.bold Non-executive Member of the Board of Directors
                p Born on September 22, 1966

                .divider.green(style="width: 35%; position: relative; left: -29px")
                p Mr. Tsarkov was appointed Board member in September 2016.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Tsarkov is a founding Managing Partner at Svarog Capital Advisors. He is in charge of strategic development of the firm. He also supervises the firm’s activities in retail, FMCG and commercial real estate. Starting May 2016, he is a Chief Executive Officer at Phoenix Advisors.
                p Mr. Tsarkov has closed a number of M&A and public markets transactions. From 2000 to 2003, he served as the Head of Investment Banking at Troika Dialog one of the leading investment banks in Russia later acquired by Sberbank. Under the management of Mr. Tsarkov, Troika’s investment banking gained a leading position in the Russian mid-cap IB advisory market and was ranked no.1 ruble bond underwriter.From 1996 to 1998, Mr. Tsarkov was the CEO at Creditanstalt Grant, the leading Russian brokerage at the time. While working at Creditanstalt Grant, he was a member of the National Association of Stock Market Participants (NAUFOR), Depository Clearing Company, and the Russian Trade System (RTS).

                h6.blue Education: 
                p Mr. Tsarkov received a Master’s degree in International Finance Markets at ISMA Business School at the University of Reading (U.K.).

        .divider.green.margin-40-0

    .col-md-12.header.margin#management-board
        h1 Governance Report
        h2 Management Board
    .col-md-12
        p.first-letter The day-to-day operations of the Bank are run by the executive body represented by the Management Board and the  Chairman of the Management Board-General Director. The Management Board consists of the General Director and the members (including Deputy General Director and Chief Accountant). The General Director is appointed by the Board of Directors, . Upon his nomination the other members of the Management Board are  also appointed by the Board of Directors upon nomination of the General Director.
        p The scope of the Management Board and General Director’s authorities covers all issues related to daily activities of the Bank, other than those reserved to the sole competence of other bodies defined in the Charter.

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-artak-hanesyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Artak Hanesyant
                p
                    span.bold Chairman of the Management Board-General Director
                p Born on February 12, 1973

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Hanesyan was appointed General Director of Armimpexbank (currently Ameriabank) in October, 2007. In April, 2008 he was appointed Chairman of the Management Board – General Director of Ameriabank.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Hanesyan has extensive experience as a C-suite executive in the modern banking sector of Armenia.  With more than 20 years of experience in banking, Mr. Hanesyan held several key positions at Converse Bank, serving as CEO (2006-2007), Vice-chairman of the Management Board and Head of the Principal Financial Department (1998-2006).  Early in his career he also worked at the CBA as Head of the First Division of Supervision Department, Senior Specialist, Specialist at Supervision, Regulation and Licensing Department (1995-1998) and an engineer at Arminvestbank (1993-1994).

                h6.blue Education: 
                p Mr. Hanesyan received a Master’s Degree in Economics from Yerevan State University, Department of International Economic Relations.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-gevorg-tarmuyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Gevorg Tarumyan
                p
                    span.bold Member of the Management Board, Deputy General Director, CFO
                p Born on May 23, 1969

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Tarumyan was appointed member of the Management Board of Ameriabank in August, 2012.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Tarumyan has more than 15 years of experience serving as CFO both in local banks and global banks represented in the banking system of Armenia, thus bringing the breadth and depth of his truly dedicated expertise to the Management Board of Ameriabank. He started his career in the banking sector in 1994 in the Supervision Service of the CBA, where he occupied various executive positions and coordinated the activities of the Regional Group of Basel Committee on Banking Supervision of Central Asian and South Caucasus banks in Armenia. In 1999, Mr. Tarumyan moved to Armimpexbank as CFO, where he was appointed Deputy General Director in 2006. He worked as Deputy Chairman of the Management Board-General Director and Financial Department Director at VTB Bank Armenia (2007-2008). In April 2008, he became CFO at HSBC Bank Armenia, where he was appointed Deputy CEO on March 6, 2012. Mr. Tarumyan joined Ameriabank in June 2012, as a Deputy General Director and CFO. 
                p Along with his work in the banking sector, Mr. Tarumyan has lectured to the banking sector specialists on financial analysis and risk management. He has authored and coauthored a number of tutorials on banking, financial analysis and risk management.

                h6.blue Education: 
                p Mr. Tarumyan graduated from Yerevan State Economic Institute and attended executive programme at London School of Economics.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-gagik-sahakyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Gagik Sahakyan
                p
                    span.bold Member of the Management Board, Corporate Banking Director
                p Born on June 16, 1973

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Sahakyan was appointed member of the Management Board of Ameriabank in February, 2012.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Sahakyan has vast experience working as an advisor and  banking executive with key industry players of the Armenian economy. He has stood at the roots of Ameria’s development. Mr. Sahakyan joined Ameria as Senior Advisor and later as Partner and Head of Management Advisory Services (1999-2012). As part of the team that led Armimpexbank acquisition deal from its inception to closing, Mr. Sahakyan has taken up key positions at Ameriabank. His professional career with Ameriabank includes positions of Advisor (2008-2010), Corporate Banking Director (2010-2012) and Member of the Management Board-Corporate Banking Director (from February 2012, up to present).

                h6.blue Education: 
                p Mr. Sahakyan graduated from the Yerevan State University, with a major in Mathematics. He received MBA degree from the American University of Armenia, College of Business and Management (1995-1997). In 2004 he attended executive programme at Kennedy School of Government, Harvard University. 

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-arman-barsegyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Arman Barseghyan
                p
                    span.bold Member of the Management Board, Retail Banking Director
                p Born on July 1, 1976

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Barseghyan was appointed member of the Management Board of Ameriabank in September, 2012.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Barseghyan has proven career track of about 20 years in retail banking. He started his career in banking in 1997 as a specialist at Financial Control Department in HSBC Bank Armenia CJSC (formerly Midland Armenia Bank J.S.C.). His career path at HSBC Bank Armenia assumed several key positions including Operations Manager at the Financial ControlDepartment (2001-2004), Branch Manager (2004-2008) and Retail Banking Director (2008-2012).
                p In June 2012, Mr. Barseghyan joined Ameriabank as Retail Banking Director. 

                h6.blue Education: 
                p Mr. Barseghyan graduated from Yerevan Institute of National Economy with major in International Economics. Later he was awarded with academic degree of Candidate of Economics at the Institute of Economics under the National Academy of Sciences of the Republic of Armenia.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-arthur-babayan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Arthur Babayan
                p
                    span.bold Member of the Management Board, Trading Director
                p Born on November 22, 1972

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Babayan was appointed member of the Management Board of Ameriabank on December 24, 2013.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Babayan started his professional career in banking in 1999 at Armimpexbank (currently Ameriabank) and has devoted himself to the development of the Bank since then. He worked as a dealer at the Division of FX&Stock Transactions (1999-2001), Chief Dealer (2001-2002), Head of Dealing Centre (2002-2013), Trading Director (2013-2013). He was appointed Acting Member of the Management Board (2013-2013). Mr. Babayan has served as Member of the Management Board-Trading Director since December, 2013.

                h6.blue Education: 
                p Mr. Babayan graduated from Yerevan State University, Department of Physics.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-tigran-jrbashyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Tigran Jrbashyan
                p
                    span.bold Member of the Management Board, Development Director
                p Born on January 23, 1968

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Jrbashyan was a member of the Management Board of Ameriabank from November, 2008 – December, 2011 and from June, 2013 to present. 
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Jrbashyan has more than 20 years of management advisory experience in key economic sectors of Armenia. He is one of the leading experts in Armenia in the fields of strategy development, elaboration of sectorial reform packages, elaboration of legal normative acts and implementation of institutional building activities. He has designed and implemented solutions that have significantly improved performance of the private and public sector organizations by appropriately exploiting enterprise resources, skills and capabilities of human resources as well as increasing efficiency/designing business processes. He is an author of over 130 scientific articles and publications (on institutional economics, industrial economics, development of investment and financial markets, development of trade policy, theory of macroeconomics, integration of Armenia into EU, membership of Armenia to WTO, etc.), published in local and international magazines.
                p Mr. Jrbashyan joined Ameriabank as Advisor and then as Development Director in 2008. His first terms as a member of the Management Board was from 2008 to 2011. He was re-appointed as member of the Management Board in 2013. Currently, Mr Jrbashyan is also Partner, Head of Management Advisory Services at Ameria.

                h6.blue Education: 
                p Mr. Jrbashyan graduated from State Engineering University of Armenia with a major in engineering and mechanics. He took a post-graduate course in Moscow State Technical University after Bauman in Russia and received a Ph.D. degree in economics from the Institute of Economic Research of Armenia.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-gohar-khachatryan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Gohar Khachatryan
                p
                    span.bold Member of the Management Board, Chief Accountant
                p Born on May 03, 1963

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mrs. Khachatryan was Acting Member of the Management Board from March, 2008 – June, 2008. She was appointed a member of the Management Board of Ameriabank in June, 2008.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mrs. Khachatryan has more than 25 years of experience holding key positions both in the regulatory body of the banking system and in private banks.
                p Mrs. Khachatryan built sterling career path in the CBA in the positions of an Accountant (1991-1992), Economist (1992-1994), Chief Economist (1994), Leading Specialist (1994-2000). 
                p Afterwards Mrs. Khachatryan joined Armimpexbank (currently Ameriabank) as Head of Balance Sheets and Reports Analyses Division, Financial Department (2000); Head of Financial Statements and Expenditures Control Department (2000-2001); Head of Administrative Accounting Division, Department of Finance (2001-2003), Chief Administrative Accountant (2003-2006); Chief Accountant/Admin Accounting Manager (2006 -2008). After the acquisition of Armimpexbank by TDA Holdings, Mrs. Khachatryan was promoted to Acting Member of the Management Board/Chief Accountant and Member of the Management Board/Chief Accountant (2008). Mrs. Khachatryan has combined her bank career with lecturing activities, and is a co-author of accounting related publications.

                h6.blue Education: 
                p Mrs. Khachatryan graduated from Yerevan Institute of National Economy as an Economist.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-samvel-aghababyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Samvel Aghababyan
                p
                    span.bold Member of the Management Board, Head of Security Services
                p Born on December 21, 1973

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Aghababyan was appointed member of the Management Board of Ameriabank in February, 2012.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Aghababyan has brought the valuable experience gained at the National Security Service of Armenia (1996-2007) and has focused his endeavors on the design and development of security services (including IT security and collection services as part of the Bank’s checks and balances system) at Ameriabank. As a result, Ameriabank is known for its exceptional and unique security structure in the market. Mr. Aghababyan joined Armimpexbank CJSC (currently Ameriabank) as Advisor to the General Director (2007), then he was appointed Head of Security Service (2008-present). He has also served as Member of the Management Board of Ameriabank since February, 2012.

                h6.blue Education: 
                p Mr. Aghababyan graduated from Yerevan Institute of Jurisprudence and Management. He received lawyer’s qualification at Moscow New Law Institute. In 2003-2004, he had accomplished executive security programme at the Academy of Federal Security Service of the Russian Federation.

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-andranik-barseghyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Andranik Barseghyan
                p
                    span.bold Member of the Management Board, Head of Risk Management Centre
                p Born on May 9, 1972

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mr. Barseghyan was appointed member of the Management Board of Ameriabank in December, 2009.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mr. Barseghyan has a distinguished career in banking, economics and risk management. Mr. Barseghyan started his career in banking technologies in the Department of Bank Technologies Automation at Armagrobank in 1995. Moving up the career ladder from an entry level to senior and leading specialist in the Automation Department, he was promoted to Chief Economist, later Head of the Liquidity and Resources Management Unit, then Head of Bank Risks Regulation Division, and finally Head of the Automation Division (1995-2002). In 2003, Mr. Barseghyan became Head of the Reporting & Analysis Division of Converse Bank. Later he was appointed Head of the Department of Risk Management and member of the Management Board of the Converse Bank. Mr. Barseghyan joined Ameriabank’s team in 2009 as head of the Risk Management Centre and member of the Management Board.
                p Mr. Barseghyan has authored a number of research papers and publications locally and internationally, some of which focus on bank management. He is a member of EURO working group on financial modeling (Erasmus University, Rotterdam).

                h6.blue Education: 
                p Mr. Barseghyan graduated from the State Engineering University of Armenia (SEUA), Faculty of Computer Engineering and Informatics. He received a Master’s Degree at SEUA, followed with a PhD in Engineering (Candidate of Technical Sciences).

        .divider.green.margin-40-0

        .row
            .col-md-12
                img.pull-left(data-original="images/gr-burastan-movsisyan.png", style="width: 25%; margin-bottom: 20px;")
                p(style="margin-top: 110px")
                    span.color-green.bold Burastan Movsisyan
                p
                    span.bold Member of the Management Board, Chief Technology and Services Officer
                p Born on June 23, 1972

                .divider.green(style="width: 35%; position: relative; left: -29px")

                p Mrs. Movsisyan was appointed member of the Management Board of Ameriabank in June, 2014.
            .col-md-12
                h6.blue Skills and Experience: 
                p Mrs. Movsisyan had more than 15 years of experience in telecommunications when she joined Ameriabank in 2013. Mrs. Movsisyan worked at Beeline Armenia (formerly Armentel CJSC) in multiple positions (1996-2013), in particular serving as Head of Mobile Communication Department and Sales Director and Head of Customer Service. She played a critical role in implementation of communication-related projects in Armenia, including mobile and roaming services. Her unique experience in this adjacent industry that progressively integrates with banking in the modern digital era is yet another strategic investment in successful innovation and transformation of banking technologies at Ameriabank.
                p Mrs. Movsisyan joined Ameriabank in September, 2013, as Chief Technology and Services Officer. In June, 2014, she was appointed to the position of the member of the Management Board-Chief Technology and Services Officer.

                h6.blue Education: 
                p Mrs. Movsisyan graduated from Yerevan State University, Faculty of Physics. Mrs. Movsisyan participated in a number of executive trainings and received certification in communications from MACH, Luxembourg-based telecommunications company.

        .divider.green.margin-40-0

    .col-md-12.header.margin#our-people
        h1 Governance Report
        h2 Our People
    .col-md-12
        p.first-letter Ameriabank’s key landmark is to build and retain a Dream Team with its unique corporate culture. Ameriabank has brought together both young and seasoned professionals to build a strong team. The members of Ameria Dream Team have great potential, are purposeful, daring and innovative, adaptable to changing economic environment and are always up-to-date with the cutting-edge technologies. They are the reason why Ameriabank is the leader by its growth pace and absolute position in key financial indicators in the Armenian banking sector. When an organization is stable, it is down to its people. Ameriabank’s people are its greatest asset which is valued above all else. The employees are provided with opportunities to build their career and accomplish their professional goals with the Bank, and ultimately make their and their families’ lives better.

        h4 Training & Development
        p Ongoing professional development is an intrinsic part of Ameriabank’s culture; it is based on effective synergy of self-development and guidance and investment on the part of employer. One of the essential components of the development programme is executive trainings for top and mid managers, master classes conducted by world-class practitioners, professors, including founders of leading business schools, with years of global expertise.
        p On-the-job staff training (OJT) in cooperation with various international institutions is another valuable element of training and development, which has become a tradition in Ameriabank. In 2016 Ameriabank staff received OJT in several renowned companies in Silicon Valley. It is also customary for Ameriabank staff to be actively involved in distance learning programmes, regularly attend various webinars and international qualification programmes in response to modern needs and technologies. In 2016 the Bank had a high rate of staff participation in online courses by such internationally-acclaimed schools as Stanford University, Chartered Management Institution, CFA Institute and others, enabling the staff to balance studies and work, while acquiring most up-to-date and competitive knowledge.  The Bank also maintains a continuously updated library, which gives the staff access to extensive repository of professional literature, both electronic and paper-based.
        p During 2016 Ameriabank employees attended 2,745 trainings. For the past 9 years the Bank staff participated in 20,945 trainings and workshops abroad and in Armenia, including seminars organized by and within Ameriabank.

        h4 Diversity and Recruitment under Various Social Programmes
        p To build and develop a strong team it is important to train and share knowledge with the young generation. Ameriabank is always open for enthusiastic, ambitious and innovate people and is willing to invest in their professional development. For this purpose Ameriabank widely practices mentoring approach to ensure smooth onboarding and integration both for beginners and experienced professionals joining the team.
        p Ameriabank continues to cooperate with the best Armenian universities and colleges, expanding its network of partners. Already more than 130 young aspiring self-starters have joined the team through various programmes for beginners, such as internship for students and “Generation A” programme. In 2016 Ameriabank successfully launched the 6th “Generation A” programme. This programme is a perfect opportunity for 20-25 year-old graduates to gain theoretical and practical insight into finance and banking. They can interact with experienced professionals right on the site, see how business is done, learn about the corporate culture of the Bank, and then start their career path as professional recruits.
        p Another key aspect for Ameriabank is repatriation. The Bank encourages young talents to return to Armenia after completing their education or gaining professional experience abroad. Thus Ameriabank actively cooperates with various foundations to create internship and job opportunities for this target group.
        p Last but not the least, Ameriabank is committed to equal opportunities policy. It actively cooperates with organizations helping disabled people integrate into the professional job market. In 2016 Ameriabank welcomed bright and talented team members with locomotor and other disabilities.
        p Recruitment process in Ameriabank includes internal promotions as well as external recruitment, giving current staff the opportunity to step up the career ladder and and/or change their specialization. In 2016 about 3% of the staff members were promoted to managerial positions.

        h4 Employee Benefits
        p Motivating best employees is as important as nurturing young talents; the stronger the incentive, the longer and deeper the commitment and dedication to the team and organization’s mission and goals.  In this respect it is essential to have a robust incentive system and permanently competitive benefits package. To ensure competitiveness, since 2012 Ameriabank has participated in salary and compensation survey of Armenia conducted by a leading audit company. The Bank also conducted satisfaction and motivation surveys among its staff based on which the available package of employee benefits was reviewed. Currently Ameriabank has an extensive package of benefits (special terms for banking, enabling staff to use banking services at minimum or no financial cost, health, travel and accident insurance, professional training and education opportunities, 24 hours of paid absence per year, etc.).

        .row
            .col-md-6
                .col-md-12
                    img(data-original="images/gif/gif-21.gif")
                .col-md-12
                    img(data-original="images/support-business-unit-employees.png")
                .col-md-12
                    img(data-original="images/up-to-25-years-infographic.png")
            .col-md-6
                .col-md-12
                    img(data-original="images/specialists-infographics.png" style="margin-top: 50px;")
                .col-md-12
                    img(data-original="images/female-stats.png", style="margin-top: 150px;")

    .col-md-12.header.margin#organizational-chart
        h1 Governance Report
        h2 Organizational Chart
    .col-md-12
        a(href="files/organizational-chart.pdf" target="_blank").org-chart
            span.org-chart
            img(data-original="images/organizational-chart.png")