.row#risk-management(style="margin-top: 60px")
    .col-md-12
        img(data-original="images/risk-management-intro-image.gif")

    .col-md-12.header.margin#risk-management-objectives-and-principles
        h1 Risk Management
        h2 RISK MANAGEMENT OBJECTIVES AND PRINCIPLES
    .col-md-12
        p.first-letter Risk Management Policy of Ameriabank sets:
        ul
            li the minimal criteria required for implementation of risk management system,
            li risk management objectives and principles,
            li the allocation of authorities between the Bank’s decision-making bodies and other authorities in relation to risk-bearing operations,
            li the key benchmarks and criteria of operations,
            li terms and conditions of exercising control over them
            li other provisions.
        p Risk management is a process implemented by the Bank’s Board of Directors, Management Board, managers and other employees, starting from the development of the Bank’s strategy and involving all aspects of the Bank’s operation. It is aimed at identifying and managing risks related to the Bank’s operations, and control of the Bank’s risk appetite (the acceptable level of risks for the Bank). Ameriabank’s Risk Management Policy is an integral part of the Bank’s development plans and serves as a basis for regulating the Bank’s risk-bearing processes. It is a unity of principles adopted by the Board of Directors aiming to effectively organize the Bank’s operation by minimizing the probability of occurrence of adverse events. Provisions of the risk management policy are applicable to the Board of Directors, Management Board, Chairman of the Management Board - General Director, committees and all employees of the Bank. Risk management policy is subject to regular revision, depending on the Bank’s strategy and the current economic environment.
        p The Bank’s Risk Management Unit performs risk assessment on a monthly basis and reports the results to the Bank’s Management Board or specialized committees (Credit Committee, Assets and Liabilities Management Committee, etc.) as well as to the Bank’s Board. The primary goals of risk management in the Bank include:
        ul
            li creating quality portfolios of bank instruments which will maximize value for the Bank with minimum risks,
            li eliminating or minimizing losses caused by potential risks,
            li maintaining the profitability, liquidity and solvency ratios at an acceptable level.
        p The goal of risk management in the Bank is to be achieved by fulfilling the following objectives:
        ul
            li timely identification of potential risks in the course of the Bank’s operation;
            li identification of factors impacting the specific types of risks;
            li qualitative and quantitative assessment of specific risks;
            li approving the acceptable risk limits;
            li collecting, processing and communicating appropriate information on potential risks to the management bodies;
            li approving the methods of internal control (monitoring) of risks;
            li defining the responsibilities of the Bank’s Board and the members of executive body for managing specific types of risks;
            li development of appropriate measures for managing risks;
            li control over the implementation of such measures.
        p The following are the key conditions for timely identification of risks: regular monitoring of the Bank’s key internal prudential standards and adherence to acceptable risk limits; regular analysis of changes in the Bank’s balance sheet; adherence to the key prudential standards established by the CBA; various stress-scenario estimates; availability of internal regulations pertaining to management of specific risks in the Bank, describing the methodology and mechanisms of identification and management of risks, which would enable the Bank to timely address and manage them.
        p The Bank’s risk management policy is based on the following principles:
        ul
            li Unified risk management system should be implemented in the Bank, which must be one of the elements of the Bank’s strategic management.
            li Risk management in the Bank has a proactive role and should be of a permanent and continuous nature. Risks should be identified and duly assessed within all processes of the Bank and appropriate measures should be taken to ensure adequate management of the latter.
            li The Bank’s risk management system is based on a risk/income ratio of maximum accuracy. The Bank should be able to select those risk-generating transactions which it is able to assess and effectively handle.
            li The Bank should strive to know its clients and understand their financial needs. The Bank should never cooperate with the clients without having proper information on their financial position. The Bank should be governed by the KYC (Know Your Customer) principle in its interaction with clients.
            li The approval of risk-generating instruments is based on a “four-eye” principle, in some instances also involving independent risk management specialists (e.g. loan applications are approved by one credit officer and one authorized risk management officer). Approval process for each instrument should be defined in details by the relevant policy and/or procedure.
            li The scope of authorities (including approval limits) and responsibilities should be clearly specified and documented for each of the Bank’s instruments and processes. The internal control mechanisms should be documented for each process.
            li Deviations from the Bank’s policies and other internal regulatory acts should be authorized by the body approving the policy in question or the body having the relevant authority (Management Board, Board of Directors).
            li Each business within the Bank is responsible for identification and regular monitoring of risks.
            li Relevant Management Information Systems (MIS) are in place, enabling more effective portfolio management.
            li Risk management approach for each banking instrument (approval limits, acceptable parameters, portfolio volume, variances from adopted policies, etc.) should be established by the relevant internal regulations and/or policies which should be also agreed with the Risk Management Unit.
            li Effectiveness of risk management function should be regularly assessed by the Bank’s internal audit.
            li The Bank’s operation should be regularly analysed and assessed by the Bank’s management bodies.
        p The Bank’s risk management system includes the following elements:
        ul
            li Risk appetite: The Board defines the acceptable level of losses/risk. The risk appetite is structured around all the types of risks (i.e. credit, market and operational risks). Risk parameters and limitations to be managed are set depending on the risk appetite (acceptable loss) assigned to each type of the risk.
            li Standards and reports: this structural element includes determination of (i) instruments approval standards, (ii) risk categories, (iii) instrument-specific standards, and (iv) management reporting standards (standardization).
            li Limits and rules: approval, portfolio limits and appropriate rules should be established for all instruments of the Bank.
            li Investment guidelines and policies: the Bank’s investment strategies, criteria and acceptable level of variances should be established. These guidelines should serve as a basis for the Bank’s hedging, asset/liabilities management and other policies.
            li Risk/income ratio: all instruments of the Bank should be based on risk/income ratio both for the Bank and for the employees involved in the appropriate process. Relevant employee incentive mechanisms should be developed.

        .row
            .col-md-6.col-md-offset-3
                img(data-original="images/bank-risk-management-policy.png")

    .col-md-12.header.margin#risk-appetite
        h1 Risk Management
        h2 Risk Appetite
    .col-md-12
        p.first-letter Risk appetite is the acceptable level of possible losses/risk the Bank is ready to undertake, which may be managed and recovered during a short period out of the available resources without any negative impact on the short/mid-term goals and plans of the Bank. The acceptable loss recovery period is 6 months.  The Bank’s risks appetite is the level of losses the Bank is ready to assume which may not exceed 10% of the Bank’s capital book value, which should be distributed among credit, market and operational risks at 60%, 30% and 10% respectively. Credit risk appetite is the amount of net losses on the loans and advances issued by the Bank (loan loss allowance). Market risk appetite with regard to the currency risk is the negative revaluation (loss) resulting from the open FX position; with regard to the floating rate risk, A&L maturity gap risk - possible losses resulting from interest rate changes; with regard to the investment risk - losses resulting from revaluation of securities portfolio due to the yield curve changes; Operational risk appetite relates to losses resulting from operational failures in the Bank’s processes/IT systems.
        p Risk appetite is managed by: ALCO/Large Credit Committee - where low and medium risks are taken into consideration, Management Board - in the high risk zones and Board of Directors - if the limit is capped.

        .row
            .col-md-6.col-md-offset-3
                img(data-original="images/bank-risk-appetite.gif")

    .col-md-12.header.margin#key-risks-and-risk-profile
        h1 Risk Management
        h2 KEY RISKS AND RISK PROFILE
    .col-md-12
        p.first-letter Risk is the uncertainty about future negative occurrences. It is expressed as the probability of occurrence of events likely to affect the Bank’s operations and implementation of its strategic goals, and as probability of possible losses. The risks to which the Bank is exposed or is likely to be exposed include both internal and external circumstances which may endanger the continuity of the Bank’s operations or have adverse effect on the Bank’s equity or profit.
        p The Bank’s risks are categorized into credit risks, market risks, operational risks and other risks.
        p Credit risk is the risk of loss of loans or other assets (including loan principal or interest), which is likely to occur when the counterparty is unable or unwilling to meet an obligation.
        p The Bank is exposed to risk of losses due to the failure of clients or counterparties to meet their obligations to settle outstanding amounts in accordance with agreed terms. Credit risk is the most material risk faced by the Bank as long as it is engaged mainly in traditional lending activity with a simple balance sheet. Due to high dollarization of the economy, currency induced credit risk is one of the significant components of credit risk, which relates to risks arising from foreign currency-denominated loans to un-hedged borrowers in the Bank’s portfolio. Credit risk also includes concentration risk, which is the risk related to credit portfolio quality deterioration due to large exposures provided to single borrowers or groups of connected borrowers.
        p A strong credit risk management function is critical for maintaining a balanced loan portfolio and delivering sustainable returns. For that purpose, a prudent credit risk environment has been established focusing on maintenance of efficient processes for credit risk identification, measurement, and monitoring. Credit risk management by credit risk teams - retail and corporate risk management teams - is performed both on a transaction and portfolio level. Credit risk management units are involved in transaction level analysis, loans risk rating and approval. Special internal risk evaluation, rating methodologies are applied. Credit risk management is aimed at portfolio oversight and quality monitoring as well as development and maintenance of the credit risk management framework based on stress testing, system of early warning and key risk indicators and parameters, sector-based analysis and monitoring.
        p The Bank uses risk oriented monitoring system to timely react to market developments identify weaknesses in the credit portfolio and outline solutions to make grounded risk management decisions. Monitoring processes encompass individual credit exposures, overall portfolio performance and external trends that may impact the portfolio’s risk profile. Early warning signals serve as an important early alert system for the detection of credit deteriorations, leading to mitigating actions. Statistical analysis is applied to the monitoring of the overall performance of the portfolio. Regular oversight of monitoring and selective review is conducted by the credit risk management unit. The corporate credit risk management team is responsible for on-site monitoring of business loans. This process enables to promptly identify risky loans at earlier stage and undertake corresponding actions.
        p The team analyses trends of the portfolio on a regular basis, including total credit portfolio exposure, portfolio quality, migration analysis, concentrations and portfolio quality performance and presents its findings in the Credit risk report to the Credit Committee on a monthly basis. Furthermore, reports related to the quality of the credit portfolio are presented to the Management Board and Board of Directors on a monthly basis. With the help of implemented credit risk management system the Bank is able to identify and mitigate the risks by amending its policies in a timely manner.
        p Market risk is the risk of changes in fair value or future cash flows due to fluctuations of market variables. Market risks include interest rate risks, price risks, currency risks, equity price risks. Market risk exposure arises from mismatches of maturity, currency and interest rate structure between the assets and liabilities, all of which are exposed to market fluctuations, particularly in the prices of securities, real estate, other fixed assets owned by the Bank or attracted as collateral.
        p Generally, market risks are managed by ALCO. The Bank aims to manage market exposures, set up limitations and decision making system in order to keep possible market losses within the set risk appetite. Early warning and key risk indicators in line with a wide range of stress tests are aimed to build up estimates for different market scenarios and help to understand the limits of adequate market exposures distributed by all market risk sources. Scenarios for stress tests are being updated periodically according to market conditions. The set of risk parameters are designed intertwined with obligatory actions, responsible persons and zones of risk level, proper rules of reporting and decision making. The whole system of market risk management is reviewed and upgraded periodically in accordance with the Bank’s product line development and market conditions.
        p Currency risk is the risk of change of financial instruments’ value due to fluctuations of foreign currency exchange rates on the market. The Bank is exposed to the currency risk due to large volume of assets and liabilities denominated in foreign currency (USD in majority), which in pair with weak liquidity on the local market, become the reason of open currency positions. In such environment currency exchange rate fluctuations can move the value of risk weighted assets, moreover can build up pressure on the Bank’s Capital and CAR ratio. In order to mitigate currency risk the Bank applies VaR methodology for 250 days historical rates considering different currency rate historical correlations. The risk parameters system also includes aggregate currency open position parameters, which are limited by relevant zones of risk, decision makers and actions to be taken in case of limit violation. Several stress tests each with 3 main scenarios are used for early prediction of currency risk, open position loss, RWA growth with effect on Bank’s Capital, CAR ratio and liquidity.
        p Interest rate risk is the risk of reduction of net interest income over fixed time horizon due to changes in market interest rates. The other side of exposure is investment portfolio while part of securities are rate sensitive and debt instruments yield market fluctuations can generate losses leveraged by duration. Another source of interest rate risk is the non-zero gap between assets and liabilities under floating rate (LIBOR mainly). Since floating rate lending products are not well developed on local market, open position is exposed to floating rate volatility.
        p Exposure to interest rate risk is controlled and mitigated via large number of risk parameters, covering the fixed rate repricing gap value, the unhedged part of floating rate position and the security portfolio. There are more than 30 different layers in interest rate risk parameters system. The security portfolio risk is managed with a separate policy comprising portfolio parameters, stress testing, asset allocation decision making limits and early warning indicator systems which are updating in line with the growth of Bank’s business. The general policy set by the Board of Directors and managed by ALCO and the Management Board, implies the limitation of exposure to interest rate risk to be under specific risk appetite size. Possible loss is estimated based on stress testing scenarios.
        p Price risk is the risk of credit loss coverage reduction due to market fluctuations of collateral prices. The main source of price risk is supposed to be real estate pledge depreciation risk. The price risk also arises due to possible changes in market prices of equity instruments, fixed assets, movable collateral and other possible financial instruments affected to price risk.
            br
            | The price risk is essential in terms of credit risk, when price fluctuations on real estate market can generate large uncovered credit exposures due to increase of LTV ratio. Another part of credit risk , which is related to price risk is the risk of reduction of creditworthiness of borrowers involved in international trade who hence could be exposed to market price risk of different goods and commodities. Systematic creditworthiness decay of domestic businesses is a part of macro environment risk monitoring. These risks are covered through tightening lending terms, system of limits for deviations, decision making solid hierarchy incorporated in global risk parameters system. The Bank has developed certain set of action plans to ensure business continuity and early reaction to handle the risks connected with possible price shocks, which are estimated within the general stress testing framework.
        p Liquidity risks is  the risk that the Bank will not be able to meet its debt obligations without realizing big losses. The liquidity risk can become essential in case of large gaps in assets and liabilities time structure, weak diversification of balance sheet, single large depositors and borrowers concentration, currency shocks on financial market with deposits outflow or conversion to foreign currency, lack of liquidity on financial markets, problems with quality of security portfolio, unexpected inaccessibility to financial instruments (repos, swaps, overnights, etc.) The Bank tends to ensure adequate level of highly liquid assets taking into account the volume of demand as well as short term liabilities and total assets. Allocated long term assets should have maximum liquidity through minimum losses in terms of profitability. The structure of highly liquid assets in terms of currency, cash and non-cash funds is subject to the structure of the Bank’s liabilities. While allocating funds the Bank tries to ensure diversification of instruments and continuous reduction of concentrations through diversified distribution of funds per clients, groups of clients, tools, industries, etc., the Bank also defines and controls the weight of the allocated funds in the Bank’s total assets. The liquidity risk parameters (such as concentration, assets and liabilities gaps, interest rate gap, high liquid assets ratio’s and others) are set up in risk parameters’ system and the management of the latter is conducted within the general risk management framework including risk level limitation, reporting principles, action plans, decision making policies, specific responsible persons and stress testing principles.
        p Operational risk is the risk of loss as result of failure or malfunctioning of internal processes and systems, as well as human factor, or external events. It includes legal risks, but excludes strategic and reputational risks.
        p To achieve these goals the Bank permanently and consistently performs identification and measurement of operational risks. A united system is used to manage the risk level.
        p Before launching new processes/products, the Bank assesses them in terms of their significance and sensitivity of the Bank to the operational risks connected with them. All the parties and/or units related to the newly launching process or product should be included in this review process. The business-processes and/or products are developed based on the results of this process. The risk likelihood-impact assessment plays a critical role in the assessment of process-related and system-related risks. In order to be able to authentically calculate the likelihood and impact of incidents, the Bank keeps a database on operational incidents and losses. This database gives an opportunity to analyse sources of risks, their nature, identify the reasons and trends and make an internal calculation of capital volume required to cover the operational losses that may arise in future. The Bank also implemented a model of capital distribution per product using an in-house methodology. This model enabled the Bank to identify the priorities in assessment of the product issuance-related processes and systems.
            br
            | To be protected from major emergencies, the Bank holds insurance policies to cover assets, operations, liabilities and its employees in line with best business practices. The Bank insures assets against a range of risks, including fire, lightning, flood, theft, vandalism as well as obtains third-party liability insurance coverage for its clients. The Bank also maintains Bankers’ Blanket Bond and Directors’ and Officers’ Liability Insurance.
        p Strategic risk is Changes in market conditions, customer behaviour and technology may all negatively impact the Bank’s results if adaptability to the environment is compromised. Respectively the Bank is exposed to strategic risks.
        p Strategic risk management framework is based on periodic strategic discussions and planning, performance reporting to the Board of Directors and Management Board and ongoing control of all specific directions of development. The strategic planning and implementation  processes in the Bank are subject to the Procedure of Strategic Analysis, Business Planning and Monitoring.
        p Twice a year the Bank holds strategy sessions to discuss the Bank’s strategy, goals and objectives for the upcoming years and submit them to the Board of Directors for review. The strategy sessions are followed by business planning for a 3-years perspective. Once the business plan is approved, it may be revisited only for essential amendments.
        p Moreover, the business plan performance is quarterly reviewed and discussed with the directors of corresponding lines to be further presented to the Management Board for and Board of Directors.
        p Environmental risk is actual or potential threat of adverse effects on environment by effluents, emissions, wastes, resource depletion, etc., arising from the organization’s activities or the risk that a certain business activity will cause destruction to the surrounding natural environment. Environmental risk management seeks to define what environmental risks exist and then determine how to manage those risks in a way best suited to protect human health and the overall environment. Social issues may emerge in the workplace of a client’s/investee’s operations and may also impact surrounding communities.
        p Ameriabank has adopted the best international practices of environmental and social risk management and is committed to ensure that its clients (borrowers) properly comply with environmental and social obligations as well. The key elements of environmental and social risk management system are:
        ul
            li Environmental and Social Risk Management Policy
            li Environmental and Social Risk Management Instruction
            li Tools required for introduction and implementation of the process
        p The Bank has an environmental and social coordinator and an environmental and social risk management specialist responsible for implementation, maintenance and daily operation of the system.
        p The Bank is also exposed to other types of risks, such as reputational risk, compliance risk, legal risk and AML risk.
        p Reputational risk is the possible loss of the organization’s reputational capital resulting in decline of the organization’s overall value and/or increase of regulatory or other costs. It includes adverse events related to ethics, safety, security, sustainability, quality, and innovation. Reputational risks are managed on the level of the Management Board. In order to ensure sound decision making different departments, such as Customer Relations Management, PR, Security and other related teams are involved in the processes, where the Bank can be exposed to reputational risk.
        p Reputational risks are mitigated through a dedicated body - Disclosure Committee. The Committee qualifies information as inside or not, approves the list of spokespeople, insider lists, disclosure IR announcements and advises on answers to public inquiries as well as market rumors.
        p Compliance risk is the Bank is exposed to compliance risk given that it is governed by local regulations as well as creditor covenants. Compliance risk is managed by a dedicated unit, legal service and ALM teams. The Bank meets regulator’s requirements and applies international standards to cover possible discrepancy in internal regulatory acts.
        p These risks are covered by internal policies and procedures, three level decision making and control structure including special units, specialized committees and the Management Board.

        h4 Macroeconomic Risk Factors
        p
            span.bold Main factors that negatively affected the economy of RA and the banking sector during the reporting period are:
            |  still slow global and regional growth; poor performance of commodity markets; low domestic demand; weak gross capital formation and limited foreign direct investments; deteriorated expectations of population and business (for more details on the macroeconomic analysis of Armenia, please see External Environment, Strategic Report).
        p Ameriabank continued to operate under high risk pressure: at the same time, all risks were within acceptable limits, except for the Bank’s credit risk indicators. However, the credit risk level (NPL) improved essentially by year-end and was below the Armenian banking sector average.
        p The main pressure on quality of banking sector’s loan portfolio in 2016 was decreasing growth rate of economy and pure domestic demand; decreasing remittances and foreign direct investments; deteriorated expectations of population and business; risks connected with AMD depreciation that may have had their negative influence on domestic demand, wages and loan servicing ratio.
        p
            span.bold Essential risks in  2016
            |  were connected with oil and metal price volatility, economic crisis in Russia due to sanctions, geopolitical tensions, China economic slowdown, risk of future extraction and drop in Europe Union, growing problems in EU banking system and elections in the USA. The influence of Brexit on international economy is not essential yet, but may be seen later, when the process of exit will be finished in all levels of economic and political cooperation. The economic pressure was characterized with 100.5% economic activity index for 2016/2015 with its decline mostly during second half of the year and with GDP figure of 0.2% for 2016. The risk of armed conflict in the region: materialized in the first half of 2016 also had some input on economic activity in RA, but the risk decreased in the second half of 2016. The problem is still actual and may be raised and affect local financial market.
            br
            | CBA rates were decreased by 4.5% in 2016 (by 4.5%), obligatory reserves regime was still strict. There was a strong trend to market interest rate decrease, which influenced the Bank’s indicators. Obligatory reservation regime kept AMD exchange rate stable, but further tendencies are uncertain. LIBOR rate had strong growth tendency, which was mostly connected with Federal Reserve Funding rate expectations and growth in 2016. It has put pressure on the Bank’s IRR gap.

    .col-md-12.header.margin#key-risk-management-focus
        h1 Risk Management
        h2 Key Risk Management Focus
    .col-md-12
        p.first-letter The planned risk appetite of the Bank in 2016 did not exceed the limit. Moreover unused buffer was 34% from total limit and actual losses were fully covered by the Bank’s capital. CAR was in low risk zone throughout the year. Credit risk was the main source of risks in 2016. Actual losses from other sources of risk were insignificant.

        h4.blue Macro Environment Risks
        h4 Risks and Uncertainties
        p Main factors that had negative impact on the RA economy and banking sector during the reporting period were poor domestic demand, which were dictated mainly by the state of the Russian economy, limited foreign direct investments, decline in remittances, deteriorated expectations of population and business, upcoming elections and uncertainty on the political field, CBA policy regarding the currency exchange, the risk of armed conflict in the region, low level of commodities price.
        p All of the above mentioned factors led to low   economic activity.

        h4 Key Risk Indicators
        p GDP growth: 0.2%;
        p CPI: -1,1%;
        p FDI decreasing trend since 2008, decreased ~3 times;
        p Net Remittances decreased by 17.6%;
        p Low copper price: ~ USD 5000 per ton.
        p Armenian banking sector:
        p NPL averaged: 7.7%;
        p CAR: 20%;
        p ROE: 2.7%;
        p Liquidity ratios exceeded regulator limits more than twice;
        p Total equity grew up by 17.2%.

        h4 Risk Mitigation Actions
        p Based on negative trends and expectations in 2016 the Bank:
        ul
            li Defined lending regimes appropriate to macro risks/environment and internally announced reflective Stable regime for 2016,
            li Strengthened credit policy,
            li Concentrated on non-performing loans recovery and risky loans monitoring,
            li Concentrated on lending which was oriented on attraction of best borrowers with best conditions.


        h4.blue Credit Risk
        h4 Risks and Uncertainties
        p
            span.bold During 2016 the Bank operated under high credit risk pressure.
            |  Poor demand on lending related with the economy state, expectations and uncertainty characterized 2016. At the same time, during Q4 the Bank’s credit risk indicators showed positive dynamics.

        h4 Key Risk Indicators
        p The Bank’s NPL* showed positive dynamics, by the year-end this indicator was quite low (3.3%), lower than the banking sector’s NPL of 7.7%. At the same time corporate segment loans’ NPL was 2.9%, and retail segment portfolio NPL was around 6.7%.
        p The cost of credit risk concluded to 1.5% of the loan portfolio. Loan loss reserves covered 60.0% of total NPL (without adjustments through pledge value). Sector concentrations were at a low level, maximum concentration for one sector did not exceed 18% of loan portfolio. By quality of loans the worst sectors were trade, transportation and construction sectors with 5.6%, 12.6% and 2.2% NPL respectively.
        p Key risk indicators showed slightly negative but stable tendency.

        h4 Risk Mitigation Actions in 2016
        p Under the conditions of NPL pressure and poor domestic demand the Bank:
        ul
            li limited possible deviations on lending parameters,
            li strengthened creditworthiness indicators,
            li stressed portfolio and intensively managed and monitored risky loans and NPLs created NPL Committee,
            li Applied the cost of credit risk in the interest rate structure.
            li Started special actions oriented on attraction of the best borrowers with the best conditions.


        h4.blue Market Risk
        h4 Risks and Uncertainties
        p
            span.bold Market risk conditions improved during 2016,
                |  but high level of uncertainty still remained. AMD volatility was quite stable due to CBA actions, but depreciation risk is still in force. Injection of equity in Armenian Banking sector normalized foreign currency supply on local market too. Nevertheless, high volatility expectations along with lack of liquidity pushed up spreads on the market.
        p Interest rate behaviour for local and international markets was different. Rates hike on the global market due to the Federal Reserve’s policy brought LIBOR rate to its maximum since 2009. Local interest rates had strict tendency to cut for both deposits and loans due to economic situation and competition. It had direct implication on the Bank’s IRR due to negative gap typical for the Armenian banks. Hedging opportunities were limited due to cost of hedging and local market instruments. However, open positions were in the scope of bank risk appetite and were managed accordingly. Rates on debt market were under pressure of declining USD, FF rate hike and capital flow to stock market. Armenian securities performed well amid flat AMD rate and CBA policy of key rates reduction.

        h4 Key Risk Indicators
        p Total actual market risk loss/appetite for 2016 was at zero level. Open currency position during the year kept long due to global expectations of USD growth, NPL growth risks and high level of loan book dollarization. The FX position revaluation result for 2016 was not essential and did not exceed allocated risk appetite.
        p Interest rate gap, including floating rate gap (LIBOR based) became the most essential source of market risk for the Bank. But the stressed loss and actual result did not exceed allocated risk appetite too.
        p Securities portfolio volume and duration (less than 2 years) kept market risk, stressed and actual loss in acceptable risk appetite limits. The main share of portfolio consisted of the RA Government bonds (87%) and 9% of total portfolio were high rating low risk investments.

        h4 Risk Mitigation Actions in 2016
        ul
            li Risk appetite/possible losses were managed by means of periodical special stress tests, trends monitoring and estimation.
            li Open currency positions were under special monitoring regime on daily basis.
            li IRR was managed within the gap limits, stress losses. Rates negative expectations were periodically estimated and monitored. Hedging high cost limited the risk mitigation opportunities, but the risk was minimied by means of swap contracts, active management of lending and funding interest rates.
            li Securities portfolio diversification improved. Part of long term sovereign bonds sold off during the year and fixed additional profit. Bank also managed to allocate excess liquidity in foreign high liquid short-term sovereigns and corporate securities.
        p During 2016 the Bank started to develop a new structure of securities portfolio aiming to liquidity optimization, portfolio diversification and increase of securities portfolio profitability.


        h4.blue Operational Risk
        h4 Risks and Uncertainties
        p There is strong tendency of growth of cyber-crimes in global banking world which can generate essential financial losses, loss of functionality and risks of continuity of business. As people get more involved in trading via internet and mobile banking the amount of card frauds  also rises globally. Security issues are common for all financial institutions around the world.

        h4 Key Risk Indicators
        p Operational risk is low due to well-regulated and controlled processes.
        p Total amount of operational losses in 2016 did not exceed 0.042% of capital. 88% of losses occurred in External Fraud category. The number of cases decreased by 10.6% compared to 2015.
        p The product with most losses was Payment Cards. The number of remote banking clients as well as cardholders of Ameriabank increases year by year.   Operational losses were on the acceptable level and are not expected to increase. All events occurred were not of systematic nature. All systems of the Bank are supposed to operate in low risk conditions.

        h4 Risk Mitigation Actions in 2016
        p A number of internal processes and systems were assessed and reassessed. Risk prevention and/or mitigation measures were developed and implemented with respect to some designated high risk activities: limitation of card frauds (geographical limits), more secure services at ATMs and distant banking.
        p Operational risk of the Bank was under comprehensive and systematic control. High attention was put on internal IT system’s security, staff trainings, decision making hierarchy and specific authorities.
        p Bank’s insurance coverage was comprehensive and efficient (BBB, Cash, Property, ATM, TPL and etc.).

        h4.blue Liquidity Risk
        h4 Risks and Uncertainties
        p Liquidity level in the Armenian banking sector is very high due to equity injection which was required by the CBA in order to improve domestic banking sector reliability and money demand. On the other hand slowdown of the Armenian economy started back in 2014 pushed the lending volumes down, and brought up problems with excess liquidity allocation in domestic market. Extra liquidity of local banks should be absorbed due to positive lending dynamics spotted by year-end 2016.
        p Given this situation the Bank’s liquidity was sufficient and effectively managed. There were no risks connected with the Bank’s liquidity in 2016.

        h4 Key Risk Indicators
        p All liquidity ratios met regulator’s requirements even under the worst stress scenarios.
        p During 2016 liquidity risk was insignificant and was mitigated within the general risk parameters framework.
        p Stress testing on liquidity GAP showed very optimistic results even under most risky scenarios.

        h4 Risk Mitigation Actions in 2016
        p During the last year the  Bank decided on alternative investment opportunities and started the process of investment portfolio enlargement and diversification with low risk, high liquid foreign currency denominated bonds.
        p The allocation of high liquid assets was also diversified through wide and high-grade counteragent network. The Bank enlarged its counteragent network, established new connections with overseas financial institutions to have easy access to large number of financial instruments and liquidity providers.
        p To ensure deposit base stability and further growth, the Bank managed interest rates of deposits according to market tendency. The Bank also targeted other funding sources, e.g. IFIs.


        h4.blue Environmental & Social Risk
        h4 Risks and Uncertainties
        p Environmental and social (E&S) risks became more essential globally due to population and natural economic growth worldwide. Armenia was also exposed to E&S risks.
        p As the largest bank in Armenia, the Bank was actively involved in financing different sectors of economy. Hence, the Bank was also exposed to environmental and social risks due to various borrowers in loan portfolio. At the same time, the Bank’s lending policy was designed for the purpose of sustainable development and provision of social responsibility.

        h4 Key Risk Indicators
        p E&S risks of the Bank’s loan portfolio was estimated at an acceptable level. Nearly 89% of Environmental risks and 67% of social risks  concentrated in low and medium risk categories. There were no “High A” risk borrowers in total loan portfolio. The Bank’s E&S and lending policy was designed in a way to reduce the negative impacts of financed projects by the means of financing conditions, implemented instructions and terms, consulting services,  high quality involvement of E&S specialists.

        h4 Risk Mitigation Actions in 2016
        p E&S risks were managed in accordance with the logic of lending procedures of the Bank with the appliance of acting E&S risks management system. The latter is developed based on the international best practice (EBRD and IFC performance standards/ requirements). Each project financed by Ameriabank was subject to E&S assessment, and included legal documentation review, risk identification and mitigation, monitoring and reporting. The findings of the assessment were reported to be duly translated in the legal agreements as E&S terms and conditions of financing.
        p In order to ensure that borrowers meet best practices and standards of environmental and social risk management, in  2016 the Bank developed and implemented 11 manuals for High and High А category projects (including all Small Hydro Power Plants), describing the procedures that should be followed by the respective borrowers in their activities.

        h4 Internal Capital Adequacy Assessment Process
        p.first-letter Based on ICCAP Bank ensures adequate capital to support undertaken risks and determine target capital level/benchmark adequate to the risk environment. CAR is calculated as a ratio of total regulatory capital and risk weighted assets (RWA). The minimum regulatory requirement is 12%. To calculate the loss from possible risks simultaneous stress tests are used, thus the case of simultaneous occurrence of all risks is considered. The Bank assesses the trend of the capital and its adequacy ratio over a certain time horizon, calculates the minimum required capital which the Bank should ensure taking into consideration the losses arising from risks, as well as the capital benchmark and RWA. The types of risks in case of occurrence of which the Bank may incur losses are defined as follows: credit risk (portfolio risk, concentrations risk), market risk (floating rate, yield curve, IR gap, FX and equity instruments price risk); operational loss, RWA growth (FX stress) and other risks if any. The methodology of stress loss calculations is defined for all risks and appropriate stress values of risk parameters. Four scenarios are applied for future projection of capital starting from base scenario without stress on risks up to the risks worst-case scenario. If as a result of the assessment the expected value of CAR does not satisfy the minimum conditions specified by the CBA regulation, the Bank should undertake actions to keep CAR on acceptable level.
        p The worst stress scenarios bring the Capital adequacy down to 13.5% (regulatory requirement is 12%).According to stresses, CAR stays above the regulatory limit under all scenarios. This is the result of Capital growth in late 2015. Under stress tests of annual Internal Capital Planning (ICAAP), CAR still remains in higher quartile of each risk zone (i.e. highest quartile of medium/high risk zone for medium/high risk scenario) showing additional buffer margin. As of now, the most probable scenario is medium risk scenario, in which CAR stays very close to low risk zone.

        .row
            .col-md-6.col-md-offset-3
                img(data-original="images/stress-scenarios-icaap.png")
            .col-md-8.col-md-offset-2
                h6 Stress testing: Capital ratio under cumulative scenario
                img(data-original="images/stress-testing-table.png")

    .col-md-12.header.margin#risk-management-framework
        h1 Risk Management
        h2 Risk Management Framework
    .col-md-12
        p.first-letter To ensure platform for more effective risk management, in 2016 the Bank revisited and improved its risk assessment, monitoring, limitation, controlling and reporting systems.
            br
            | In regard to credit risk management in 2016 the Bank implemented:
        ul
            li New system for accounting of loans with non-standard terms.
            li New approaches to stress scenarios.
            li Key components of Risk Premium (profit/risk) System.
            li Some lending products assessment methodologies.
            li industry rating framework with industry specific financial indicators (special emphasis was placed on the borrowers from mining industry and its associated risks).
            li Complaints and claims handling procedure to cover the processes concerning environmental and social issue-related claims.
            li 11 manuals for High and High А category E&S projects (including all SHPPs), describing the procedures that should be followed by the respective borrowers in their activities in order to ensure that borrowers meet best practices and standards of environmental and social risk management.
        p The Bank’s management also was up to speed with the quality of the loan portfolio, data concerning various industries, loan products, key risk indicators and other risk factors and their dynamics via monthly reports on credit risk, which made it possible to give specific tasks aimed at risk assessment and mitigation. The loans that involved high risks were under ongoing control via out-of-turn inspections which helped to cut their volume significantly by the end of the year. Application of risk identification, assessment and management mechanisms enabled the Bank to minimize substantially the credit risk in 2016 and make it controllable to the most possible extent.
        p In regard to market risk management in 2016 the Bank:
        ul
            li Implemented new concept of securities portfolio building and management for the purpose of ensuring excess liquidity and additional returns.
            li Implemented trading risk management IT solution concept for managing of trading risks, with invitation for bids announced at the end of the year.
            li Implemented system for management of loan with deviations based on the changes in the macroeconomic indicators.
            li Improved methodologies for calculating and approving limits for partner financial institutions.
            li Improved investment portfolio limits, risk parameters and distribution of risk appetite and developed approaches for assessment of sovereign bonds of other countries.
            li Improved former stress testing scenarios to be aligned with the economic realities.
            li Improved management of risks associated with brokerage: portfolio and client assessment approaches were developed, while high risk trading platform was put out of operation.
        p In regard to operational risk management in 2016 the Bank:
        ul
            li Assessed and reassessed a number of internal processes and systems in order to ensure proper management of operational risks.
            li Developed risk prevention and/or mitigation measures and implemented with respect to some designated high risk activities (the measures taken mainly covered limitation of possible card frauds considered to be top priority item on the agenda, more secure services at ATMs and distant banking.
            li Imposed card transaction limitations for some countries involving higher risks.
            li obtained large-scale insurance to restrict property loss, liability and other bank risks.

    .col-md-12.header.margin
        h1 Risk Management
        h2 KEY RISKS AND RISK PROFILE
    .col-md-12
        p.first-letter The general logic of the Bank’s risk management framework is presented below. It is a well-developed structure with a few lines of defence against possible limited risks going from external and internal sources.
        img(data-original="images/bank-risk-appetite-table.png")
        img(data-original="images/lending-risk-management-workflow.png")

    .col-md-12.header.margin#risk-organization-and-governance
        h1 Risk Management
        h2 RISK ORGANIZATION AND GOVERNANCE
    .col-md-12
        p.first-letter The Bank’s risk management is incorporated in all structures of the Bank. It reflects governance, risk taking authority distribution based on the risk appetite of the Bank.
        .row
            .col-md-6.col-md-offset-3
                img(data-original="images/board-of-directors-graph.gif")
        p The Board of Directors (BoD) approves the Bank’s Strategy, as well as risk management, credit and other policies and internal regulatory acts necessary for its implementation; defines the Bank’s ‘risk appetite’ (the acceptable risk criteria and limits), including approval of the Instruction on Risk Management Parameters and Internal Standards; controls the effectiveness of risk management system, the level of risks accepted by the Bank, their compliance with the risk appetite; approves bank instruments which are beyond the Bank’s Management Board limits and criteria.
        p The executive management, namely the Chairman of the Management Board - General Director, the Management Board and its members accept risks within the scope of policies approved by the Board of Directors and perform their daily management, coordinating the units’ operations; carry out risk management under the risk management parameters established by the Board, and are accountable to the Board of Directors. The Management Board may reassign the above mentioned authorities to the specialized collegial bodies – committees (Assets and Liabilities Management Committee, Credit Committee, etc.).
        .row
            .col-md-6.col-md-offset-3
                img(data-original="images/management-borad-graph.png")
        p The system of specialized committees was established in the Bank with delegation of authorities from the Management Board in order to manage risks arising from all main business activities of the Bank.
        .row
            .col-md-6.col-md-offset-3
                img(data-original="images/risk-management-center-graph.png")
        h4 Large Credit Committee (LCC)
        p The main purpose of the Large Credit Committee is to implement the lending policy of the Bank, to form loan portfolio with high profitability under acceptable level of credit risk. LCC makes decisions in lending based on conclusions containing opinions of business divisions, risk management and security services within the limit of 10% from total balance capital. Lending with deviations are also subject to LCC review and approval.

        h4 Small Credit Committee (SCC)
        p The Small Credit Committee’s main purpose is the same as LCC, with reduced limit size and loan products. SCC  is aimed at discussing and making decisions on retail and SME loans. Loans with negative opinion from one of the responsible divisions cannot be  subject to SCC review and approval.

        h4 Assets and Liabilities Management Committee (ALCO)
        p The Assets and Liabilities Management Committee is a permanent corporate collegial body in the Bank entitled to adopt decisions within the framework of Assets and Liabilities management policy. The objective of the Committee is to ensure sufficient preconditions for efficient and harmonized management of the Bank’s assets and liabilities for achieving maximum profitability within the acceptable level of liquidity, interest rate and currency risks. Investment policy, interest rates, currency and liquidity management, capital adequacy and risk parameters management are subject to ALCO committee’s review and approval.

        h4 Non-Performing Loans (NPL) Committee
        p The NPL Committee was formed in 2014 after the crisis in the financial markets provoked by oil prices dropdown. The main objectives of this Committee are the same as those of LCC with sharp focus on problematic and risky loans, pledge liquidation and NPL recovery.

        h4 Anti Money Laundering (AML) Committee
        p The key goal of the AML Committee is to secure and maintain the good reputation of the Bank by undertaking reasonable measures to avoid reputational and financial risks as part of combat against the financing of terrorism and money laundering both in Armenia and abroad. The key objectives of the Committee are combating terrorism financing and money laundering through ensuring that no such activity is performed through the Bank’s operations.
        p The lending decision making limits are distributed between different authorities according to the following table:
        p The lending deviations are also subject to the same limits depending on type and size, decisions are made based on corresponding voting schemes (simple majority, overwhelming majority).

        h4 Loan Approval Authorities and Limits

        img(data-original="images/loan-approval-autorities-table.png")

        p The Risk Management Centre has a wide range of responsibilities, which include but are not limited to the following:
        ul
            li develops risk management policy and structure;
            li implements risk management (internal control) system at the level of business processes;
            li provides risk management recommendations concerning newly implemented instruments;
            li provides conclusions on the Bank’s transactions within the established limits;
            li develops and elaborates risk management reports and presents them to the Bank’s management;
            li increases awareness and conducts trainings on risk management in the Bank.
        p Internal Audit assesses the effectiveness of risk management system implemented in the Bank and the adherence to the established criteria by the Bank’s subdivisions, as well as presents recommendations for enhancing the system’s effectiveness; reports to the Bank’s Management and Board of Directors on the identified risks.

    .col-md-12.header.margin#risk-reporting-and-systems
        h1 Risk Management
        h2 RISK REPORTING AND SYSTEMS
    .col-md-12
        p.first-letter In order to ensure efficient risk management system, relevant Management Information System (MIS) is established in the Bank, which provides adequate vertical and horizontal information flows for decision-making purposes.
        p The MIS is designed to provide the Bank‘s management team with the leading, lagging and coincident indicators concerning loan and other portfolios. The Board of Directors and Management Board have access to all designed reports concerning emerging risks, their possible consequences as well as collapse of control mechanisms.
        p In particular, the following data is presented to the Bank’s vertical and horizontal line managers in terms of specific instruments via different reporting lines:
        ul
            li The structure of the instrument portfolios/investments
            li The instruments’ yield and maturity structure
            li The structure of overdue assets and liabilities
            li The structure of pledged assets and accepted collaterals
            li Information concerning non-performing loans and concentrations
            li Collectability of defaulted loans
            li Other information on effectiveness.
        .row
            .col-md-8.col-md-offset-2
                img(data-original="images/risk-reporting-system-graph.png")