.secondary-navigation.animated
    .close-secondary-nav

    .container
        .row
            .col-md-4
                h3
                    a(href="#business-review") Business Review
                ul
                    li
                        a(href="#performance-highlights") Performance Highlights
                    li
                        a(href="#chairmans-statement") Chairman’s Statement
                    li
                        a(href="#chief-executives-review") Chief Executive’s Review
                    li
                        a(href="#historic-milestones") Historic Milestones
                    li
                        a(href="#global-partners") Global Partners
                    li
                        a(href="#awards") Awards
                    li
                        a(href="#key-performance-indicators") Key Performance Indicators
                    li
                        a(href="#development-of-technologies-and-infrastructure") Development of Technologies and Infrastructure
            .col-md-4
                h3
                    a(href="#strategic-report") Strategic Report
                ul
                    li
                        a(href="#external-environment") External Environment
                    li
                        a(href="#banking-sector-in-armenia") Banking Sector in Armenia
                    li
                        a(href="#position-of-ameriabank-in-banking-sector") Position of Ameriabank in the Banking Sector
                    li
                        a(href="#business-model-and-strategy") Business Model and Strategy
                    li
                        a(href="#retail-banking") Retail Banking
                    li
                        a(href="#corporate-banking") Corporate Banking
                    li
                        a(href="#investment-banking-and-trading") Investment Banking and Trading
            .col-md-4
                h3
                    a(href="#governance-report") Governance Report
                ul(style="background:none;")
                    li
                        a(href="#chairmans-corporate-governance-statement") Chairman’s Corporate Governance Statement
                    li
                        a(href="#corporate-governance-structure") Corporate Governance Structure
                    li
                        a(href="#board-of-directors") Board of Directors
                    li
                        a(href="#board-committees") Board Committees
                    li
                        a(href="#management-board") Management Board
                    li
                        a(href="#our-people") Our People
                    li
                        a(href="#organizational-chart") Organizational Chart
        .row
            .col-md-6
                h3
                    a(href="#risk-management") Risk Management
                ul
                    li
                        a(href="#risk-management-objectives-and-principles") Risk Management Objectives and Principles
                    li
                        a(href="#risk-appetite") Risk Appetite
                    li
                        a(href="#key-risks-and-risk-profile") Key Risks and Risk Profile
                    li
                        a(href="#key-risk-management-focus") Key Risk Management Focus
                    li
                        a(href="#risk-management-framework") Risk Management Framework
                    li
                        a(href="#risk-organization-and-governance") Risk Organization and Governance
                    li
                        a(href="#risk-reporting-and-systems") Risk Reporting and Systems
            .col-md-6
                h3
                    a(href="#financial-statements") Summary Financial Statements
                ul(style="background:none;")
                    li
                        a(href="#independent-auditors-report") Independent Auditor’s Report
                    li
                        a(href="#summary-financial-statements") Summary Financial Statements

        .row.contacts
            .col-md-8.col-md-offset-2
                .row
                    .col-md-12
                        span.contact-info www.ameriabank.am |
                            a(href="tel:+3741056111")  010 561111
                .row
                    .col-md-12.social-sharing-buttons
                        a(href="https://www.facebook.com/pages/Ameriabank/410277519029505" target="_blank")
                            img(src="images/facebook.png")
                        a(href="https://www.linkedin.com/company-beta/1166601/" target="_blank")
                            img(src="images/linkedin.png")
                        a(href="https://twitter.com/AmeriaBankCJSC" target="_blank")
                            img(src="images/twitter.png")
                        a(href="https://www.youtube.com/user/AmeriabankCJSC" target="_blank")
                            img(src="images/youtube.png")
                        a(href="https://itunes.apple.com/am/app/ameria-mobile-banking/id968076227?mt=8" target="_blank")
                            img(src="images/app-store.png")