.row#strategic-report
    .col-md-12
        img(data-original="images/focus-lens.gif")
    .col-md-12#external-environment
        .divider.transparent
    .col-md-12.header
        h1 Strategic Report
        h2 External Environment
    .col-md-12
        .divider.transparent
    .col-md-12
        h4 Macroeconomic prerequisites
        p Macroeconomic situation, in which the banking system of Armenia evolved in 2016, was characterized by continuous negative regional impact due to still fragile economic situation in Russia and slowdown of emerging economies since 2014. After a sharp decline in 2009 the economy was characterized by a period of moderate recovery during the period of 2010 to 2015 with an average annual growth of 4.0%. The economic growth for  2016 comprised only 0.2%, which is the lowest growth rate in the last 7 years. The growth rates are in line with other countries in the Eurasian Economic Union (EEU) .
        p Among the global developments that influenced Armenia were: slow growth of global economy in 2015-2016, and especially in emerging countries (Russia in particular); continuously low prices for most of the commodities and geopolitical situation in the region. The slowdown in the Russian economy brought to large decrease in remittances and foreign direct investments to Armenia (though the trend has changed over the first two months of 2017 for remittances). On the other hand, the negative impact of the Russian economic crisis on the Armenian economy toned down due to oil price and Russian ruble rate stabilization and sluggish recovery of remittances from Russia.
        p The development of the Armenian economy majorly depends on the economic situation in Russia, as Armenia’s main trade partner country. Armenia joined EEU in January 2015, which made its links to the Russian economy even stronger. Particularly, as an EEU member Armenia receives a fixed share of total customs duties in the Union and other benefits. In 2015-2016, those were much lower than expected due to recession and decrease of imports to Russia. The level of private remittances from Russia to Armenia continued to decline during 2016 as well, resulting in total 33.4% decline compared to 2013 (7.8% in 2014, 23.2% in 2015 and 6.1% in 2016). Remittances sent by Armenian citizens working in Russia have significant impact on the economy, the huge decline reported during the past two years seems to slow down and even some growth is evidenced in first month of 2017.
        p Nevertheless, it should be mentioned that economic developments in Armenia during 2016 also showed some positive trends, such as recovery growth of mining and food processing industries, narrowing of negative current account balance, stable exchange rates and consumer prices. The country is expected to witness moderate economic growth during upcoming 2-3 years. According to the forecasts of international organizations (IMF, WB, EBRD) economic growth for 2017 is expected at 2-2.7%.
        p The
            span.bold  consumer price index
            |  in 2016 (December to December) was 98.9%, which was lower than the targeted inflation rate of
            span.bold  4%
            |  (± 1.5%) by the CBA. Deflation is registered the second year in a row. At the same time, the average annual inflation was also negative at -1.4%. This is the lowest annual average price change indicator in the whole history of Armenia (i.e. during the last 26 years). The deflation was mainly conditioned by implemented restrictive monetary policy, stable AMD/USD exchange rate and drop of commodity prices in international markets. CPI is expected to remain comparatively steady, i.e. to be within the range of targeted inflation rate in 2017.
        p The nominal GDP in 2016 equals AMD 5.07 trn – the highest ever level in the history.
            span.bold  The 2016 GDP in real terms exceeds the pre-recession level of GDP (2008) by 8.7%.
            |  However, the nominal USD-denominated GDP still lags behind the pre-recession level. The nominal USD-denominated GDP in 2016 comprised USD 10.6 bln, which is higher than 2015 GDP by 0.2%, but lower than 2014 GDP by 9.1%. This was due to 15% depreciation of AMD against USD that in turn was conditioned by exchange rate fluctuations registered in December 2014.
            span.bold  Slowdown of economic growth was mainly conditioned by decrease and slowdown in main sectors traditionally contributing to GDP growth:
            |  agriculture (-5.8% decline, which brought to decline of GDP growth by 1.0 percentage point instead of 2.4 p.p. contribution in 2015), mining (even with 14.9% growth of the sector, the contribution to GDP growth of 0.3 p.p. was much lower than in 2015 - 1.2 p.p.),
            span.bold  construction
            |  (11.3% decline which brought to 0.8 p.p. decrease in GDP growth).
            span.bold  However, due to growth in other sectors and especially in arts, entertainment and recreation services
            |  (growth of 30.3% with 1.0 p.p. contribution to GDP growth),
            span.bold  manufacturing
            |  (growth of 4.4% with 0.4 p.p. contribution to GDP growth)
            span.bold  and public administration and defence services
            |  (growth of 7.6% with 0.4 p.p. contribution to GDP growth per sector)
            span.bold  the overall GDP growth remained positive.
            |  Including corresponding services provided online. Among other sectors: wholesale and retail trade grew by 1.2% (after 8.2% decline in 2015), transportation grew by 14.6%, while Information and telecommunication sector faced 1.0% decline, because of the decline in telecom subsector, which was compensated by rapid growth of over 30% in IT.

    .col-md-12.margin-top-20
        .row
            .col-md-5
                img(data-original="images/gif/gif-12.gif")
            .col-md-7
                img(data-original="images/gif/gif-5.gif")

    .col-md-12.divider.green

    .col-md-12.margin-top-20
        .row
            .col-md-4
                h6 Import and Export
                    br
                    | USD mln
                img(data-original="images/import-export-usd-min.png")
            .col-md-8
                img(data-original="images/exchange-and-cpi-amd-usd-exchange-rate.png")
                img(data-original="images/gif/gif-11.gif").width-auto.center

    .col-md-12
        p After five consecutive years of significant growth in agriculture, with an average annual growth of 7.2% in 2011-2015, the sector registered slight decline in 2016. The decrease was conditioned by decline in plant growing subsector, mainly due to less favorable climate conditions compared to the previous year. At the same time animal husbandry and aquaculture subsectors kept growing. The average annual growth of agriculture sector in 2011-2016 is still impressive at 7.2%. The share of agriculture in the structure of GDP in 2016 was 16.0%, the largest in the GDP structure of Armenia. This is still one of the highest indicators among the EU and CIS countries, even after around 1.3 p.p. decrease against 2015. It is expected that the sector will continue to grow in the next years due to development of industrial agriculture and a series of Government programs to fuel the development of this sector (unless any force majeure climate situation arises). EEU membership along with existence of agricultural product import embargo from the Western countries to Russia has also facilitated Armenian agricultural exports to Russia and is expected to contribute to agricultural production in Armenia.
        p In 2016,
            span.bold  mining
            |  industry value added again registered impressive growth of 14.9% in real terms after unprecedented growth in 2015. This growth was achieved due to significant increase of production volumes, though accompanied with lower commodity prices, especially for copper. At the same time, the
            span.bold  manufacturing
            |  sector also registered growth of 4.4%, after 4.0% decline during the previous year. This was achieved due to continuous growth of tobacco industry (23.5%), increase in base metal production and recovery growth in food processing (2.0%) and beverages production (7.4%).
        p
            span.bold The financial and insurance services
            |  sector was the most rapidly growing sector in GDP for 2011-2014. However, after two-digit average growth in 2010-2014, the sector faced decline by 7.2% in 2015 mainly explained by the slowdown of economic developments in the region along with increasing risks of national currency depreciation at the end of 2014. The sector registered recovery growth of 3.2% in 2016.
        p
            span.bold For the seventh year in a row, the export growth rate exceeded the import growth rate, which is a positive trend for a country with a high level of external trade deficit.
            |  Following a decline in 2015, due to worsened trade conditions affected by the slowdown of Russia’s GDP growth, drop of metal prices as well as depreciation of regional currencies against USD and AMD, both export and import of goods increased in 2016 compared to the previous year. Moreover, export grew by impressive 20%, while import – by 1.6%. This progressive growth of export over import brought to additional USD 244 mln improvement in external trade deficit compared to 2015. The volume of imported goods exceeded the volume of exports in USD only 1.8 times, which is the lowest ratio within the last 22 years. A further narrowing of the deficit is a challenge, because it implies changes in the structure of exported goods and services in order to provide basis for further growth. Though export may still grow due to possible increase in copper prices.
            span.bold  The current account deficit
            |  is also significantly improved and currently CAB deficit-to-GDP (-2.7%) is among the lowest in the course of the last 20 years.
        p In 2016,
            span.bold  the external public debt
            |  of Armenia amounted to 45.5% of the GDP as opposed to 41% in 2015. The total value of external public debt as of year-end 2016 was USD 4,798 mln, up by 11.2% in nominal USD terms. This increase was conditioned by several new large loans taken by the Government aiming to support the economic developments during this sluggish growth period. Apparently, anticipating the downturn, in Q1 2015 the Government additionally issued USD 500 mln Eurobonds and bought back USD 200 mln of prior issue of Eurobonds. The newly issued Eurobonds have a maturity of 10 years (previously 7 years) and a coupon rate of 7.15% (previously - 6%)2. Country’s external debt-to-GDP ratio is not considered to be under high risk category by international organizations, even with the growth of debt in 2016. Moreover, official foreign currency reserves remain at acceptable levels by standard measures. Particularly as of the end of 2016 the latter amounted to USD 2.2 bln (24% growth over the previous year), which makes nearly 6 months of total import of goods and services, compared with the standard benchmark of 3 months.
        p In 2016 Armenia continued active economic cooperation with international institutions and allocation of the funds raised from WB, IMF, ADB, and EU. Particularly, the World Bank portfolio had 18 sectorial projects in active implementation in 2016. The projects were implemented across many sectors including roads, energy, agriculture, education, health, irrigation, rural development, public administration, and judiciary. The country operations business plan (COBP), 2016–2018 developed by the Asian Development Bank (ADB) for Armenia is aligned with the Armenian Government’s Development Strategy, 2014–2025 and the Government’s programme for 2014–2017. The COBP is consistent with the strategic priorities set out in ADB’s Midterm Review of Strategy 2020, and is in line with the main directions and strategic priorities outlined in ADB’s country partnership strategy (CPS) for Armenia, 2014–2018. EBRD strategy in Armenia focuses on the following strategic orientations: enhancing private sector competitiveness by strengthening capacity, increasing corporate transparency and improving the business environment, developing capital markets and promoting local currency financing, developing sustainable and commercialized public utilities.
        p Over the past few years, Armenia has taken steps towards improving
            span.bold  the investment and business climate
            |  in the country. As a result, in 2016, Armenia improved its position in “Doing Business 2017” report by the World Bank Group (positioned itself on the 38th position, up by 5 positions compared with the previous ranking), in World Economic Forum’s “Competitiveness index 2016-2017” (79th position, up by 3 positions compared to the previous index) and in Heritage Foundation’s “Economic Freedom Index 2017” (33th position and inclusion in “Mostly free” group of countries, advanced from 54th position in “Moderately free” group of countries).
            br
            | Anyway, these changes could not affect the poor FDI inflow trend in recent years, especially in real sector of the economy, decrease of FDI inflows in line with limited economic developments in EEU countries.

    .col-md-12#banking-sector-in-armenia
        .divider.transparent
    .col-md-12.header
        h1 Strategic Report
        h2 Banking Sector in Armenia*
    .col-md-12
        .divider.transparent
    .col-md-12
        p The most significant event in the banking sector of Armenia in 2016 was the consolidation of banks and exit of some financial organizations from the market.
        p In the wake of new regulatory capital requirements4 effective January 1, 2017, the banking sector of Armenia witnessed capital raising processes as well as several M&A deals in 2015 and 2016.
        p As a result the number of commercial banks in Armenia shrank from 21 to 17.
        p The further worsening of economic conditions eventually forced CBA to strengthen the liquidity requirements for the Banks. Despite the fact that there were certain extra costs for the country, those that left the market were the laggards swallowed by large, aggressive and healthy market players.
            br
            | In fact Armenian banks gradually met the new capital requirement which made it possible to strengthen the financial stability of the sector to some extent and increase the competitiveness of banks and their role in the economy. This opened up new opportunities to finance large-scale business projects and created new base for enhanced access to financial services.
        p Armenian economy is rather concentrated, thus small banks are unable to adequately meet the needs and challenges of the sector. The first couple of players in almost every industrial sector are larger than any Armenian bank. No bank is able to serve such large client needs on its own, this is yet another argument for consolidation.
            br
            | Moreover, consolidation of banks has resulted in speeding up the development process of new banking technologies: even if smaller banks had complied with regulatory requirements, they would have easily lost their competitive edge over large banks in terms of delivering better, more innovative financial solutions.
        p Some experts believe that Armenia will go through the second wave of bank consolidation in the coming years. So, increase of the regulatory capital requirement may be considered as a launch pad for massive system reforms in the banking sector of Armenia.
        p Along with consolidation processes, in 2016 the banking sector of Armenia saw acceleration or revival of growth rates in all key financial metrics. Banks continued their organic growth evidenced by significant growth of assets, loan portfolio and liabilities.
        p However, there was a huge mismatch between the overall economic activity in 2016 (+0.2%) and dramatic Y-o-Y growth of banks’ financial indicators (in particular, growth of loans to clients by 19%). On the other hand, given the time lag factor, these indicators in banking may be a signal of the recovery path of the overall economy in 2017-2018. During 2016 the restrictive policy was a bit softened, aiming at the development of both real sector and banking system. The refinancing rate was cut for 7 times in a year to reach 6.5% by November 2016. Apart from this, in September of the same year the CBA reduced the rate of required reserves  for FX-denominated borrowings from 20% to 18%. However, this was a late response to the market reality, and as a result deflation and restricted loan portfolio growth were registered in 2016. Many analytics still find that rate to be very high and expect further easing from CBA in 2017.
            br
            | As part of legislative initiatives aimed to ensure financial stability and further growth of the country, late in 2016 the CBA submitted to the Government legislative amendments to the Law “On Banks and Banking” and some other related laws and regulations in response to the commitment of Armenia to WB and IMF under the Financial Sector Stability Programme.
        p In particular, the amendments stipulate that banks may not pay out dividends to shareholders, give bonus or other incentives to their management if they run with losses. Moreover, banks will be required to build financial cushions to address difficulties, as well as implement a number of other regulatory tools to make the Armenian financial regulations easy to understand for foreign investors, thus ensuring stability of the financial system.

        h4 Financial Institutions Operating in Armenia
        img(data-original="images/financial-institutions-operating-in-armenia.png")

        h4 Fitch Outlook on Banking Sector of Armenia
        p Fitch Ratings affirmed Stable Outlook in 2017 for the Armenian banking sector. Fitch Ratings Report (2017 Outlook: CIS and Georgian Banks) says they expect a moderate recovery in credit demand over 2017, supported by favorable macro trends, decreased pressure on the Armenian dram and a downward adjustment of market interest rates.

        h4 Double-Digit Growth of Banking Sector in 2016
        p While the banking sector of Armenia was forced to pass through the capital top-up period, it closed the year 2016 with two-digit growth.
            br
            | It is noteworthy that the overall performance of Armenia is relatively positive in comparison to peers, as this growth was accompanied by downward trends in the neighbouring countries.
        p After the CBA announced increase of the regulatory capital requirement by 6 times to AMD 30 bln, the market was buoyant with capital raising activities and M&A deals. During the reporting period the total capital of the banking sector grew nearly by 21.1% to AMD 669.4 bln , thus enabling banks to boost their assets.
        p Growth of capital was accompanied by two-digit growth of assets and liabilities by end of the year. In 2016, assets of the Armenian banks increased by 18.5% to AMD 4 trn, while loans to clients jumped by 20.5% to AMD 2.6 trn.
        p Banks’ liabilities rose by 18.1% to AMD 3.5 trn. Liabilities to clients increased by 24.1% to AMD 2.3 trn.
        p Total profit of the Armenian banking sector in 2016 decreased to AMD 16 bln vs. AMD 18.2 bln in 2015. In 2016 4 banks reported loss, net of this loss the total profit of profitable banks was AMD 33.4 bln vs. AMD 18.7 bln of previous year.

        h4 Increased Share of Financial Intermediation Services
        p Sluggish economic growth and consistent growth in lending resulted in the increased level of financial intermediation services in Armenia and strengthened the role of the banking sector in the country. As a result of the developments described above, banking sector currently has sound liquidity ratios and capital to ensure financial stability. This is also evidenced by regulatory indicators of banks, set by the CBA and showing that all the banks have high potential for financing of economy and accumulating new funds.
        p Armenian banks have had a strong enough “cushion” to confront crises.

        ul.green-background
            li Capital adequacy ratio of the banking system is 20% vs 12% minimum prudential of CBA.
            li Liquidity ratios are rather high as well: N2.1 – 32.5%, N2.2 – 170.8%.
            li Client behaviour is another proof of the reliability of banks. In 2016 liabilities to clients grew by 24.1% versus 10.9% in 2015.

        h4 Loan Portfolio Quality
        p NPLs (non-performing loans) remained among the key challenges faced by Armenian banking sector in 2016, which was inevitable in the wake of turbulent and recessive economy.
        p However, banks not only succeeded in suppressing further worsening of credit quality, but cleaned up loan portfolios from past due loans. Among the factors that facilitated this were loss loan write-offs, growth of lending and partial recovery of “bad” loans.
        p However, according to CB RA the share of foreign capital in the banking sector of Armenia constituted 61.4%. Long-term funds raised from IFIs to support the Armenian economy and joint projects are another proof of trust and interest in the Armenian banking sector.

        h4 Legal Framework
        p In 2016 a number of Armenian laws and regulations were amended, among them the following acts related to finance and banking: Civil Code, Criminal Code, Law on Guaranteeing the Compensation of Bank Deposits of Physical Entities, Law on Compulsory Enforcement of Judicial Acts, and the CBA Regulation 2 “Regulation and Prudential Standards of Banking”.
            br
            | The Following Clauses were Amended:
        ul
            li Civil Code, article 450, part 3, article 451, part 2, articles 452 and 454, whereby executing agreements by means of information (document) exchange through postal, telex, facsimile, phone, email and other communication services is deemed execution in writing, and provided that there are no other regulatory requirements to the form of agreement. Electronic document not protected by digital signature has the same effect as hand-signed copy on paper.
            li Civil Code, article 236, whereby pledged property can be pledged elsewhere (subsequent pledge). Any and all consents and provisions restricting the pledgor’s right to pledge the property elsewhere are void.
            li Criminal Code, article 184.1, whereby it has become criminal offence to inflict damage on the pledgee, such as deliberately destroy, hide, sell, damage or otherwise defunctionalize pledged property to the effect of the pledgee being prevented from exercising their proprietary rights and suffering loss in the amount exceeding 4,000 times minimum salary as defined by Armenian legislation.
            li Law on Guaranteeing the Compensation of Bank Deposits of Physical Entities: according to amendments, there is a new procedure for organization of compensation for guaranteed deposits.
            li Law on Compulsory Execution of Judicial Acts: property (apartment, including land plot forming one proprietary unit with the apartment, and buildings thereon) or share therein cannot be foreclosed on, if it or that share of it is the only permanent housing for the debtor (physical entity), and its start price is equal to or lower than minimum sale price for sole housing, defined by the Armenian Government. Where sole housing is sold at a price higher than defined by the Government, the compensation defined by the Government for sale of sole housing is returned to the debtor. These provisions do not apply, if property is pledged to secure creditor claims, or if claimant requires payment of alimony, compensation for harm to life or health or compensation for crime.
        p On September 20 the Board of CBA amended Regulation 2 “Regulation and Prudential Standards of Banking”. The list of IFIs the mandatory reserving rate for borrowings from which is lower has been reviewed to include more organizations, and incentives were provided for long-term borrowings using local bonds. There are looser provisions for mandatory reserving for foreign currency borrowings: 18% instead of 20%, more flexibility to act (the former 2-week period for organization of funds to be reserved in CBA was extended to 28-35 days).

    .col-md-12(style="padding: 80px;")
        .row
            .col-md-12
                h4 Key Performance Indicators of the Banking Sector in Armenia
            .col-md-4
                img(data-original="images/gif/gif-2.gif")
            .col-md-8
                img(data-original="images/key-performance-indicators-2.png" style="position: relative;top: -12px;")
        .row
            .col-md-12
                h4 Key Performance Indicators of the Banking Sector in Armenia
            .col-md-6
                img(data-original="images/key-performance-indicators-profit.png")
            .col-md-6
                img(data-original="images/gif/gif-3.gif" style="margin-top: 60px;")
        .row
            .col-md-12
                h4 Qualitative Indicators of the Banking Sector of Armenia
            .col-md-4
                img(data-original="images/gif/gif-17.gif")
            .col-md-4
                img(data-original="images/gif/gif-16.gif")
            .col-md-4
                img(data-original="images/gif/gif-18.gif")
        .row
            .col-md-12
                h4 Growth Rates of Key Performance Indicators
            .col-md-12
                img(data-original="images/growth-rate-indicators.png")

    .col-md-12.header#position-of-ameriabank-in-banking-sector
        h1 Strategic Report
        h2 Position of Ameriabank in Banking Sector
    .col-md-12
        p In 2016, Ameriabank maintained high growth rates, outstripping the banking system.
        .row
            .col-md-6.col-md-offset-3
                img(data-original="images/position-of-ameriabank-in-banking-sector-arrows.png")
        ul
         li Since 2013 Ameriabank has been the leader in the banking sector by assets, with a continuously growing share in the market (from 10.7% as of December 31, 2013 to 17.4% as of December 31, 2016). While in 2015 Ameriabank assets went beyond AMD  500 bln or USD 1 bln, which was an all-time record in the banking sector of Armenia, in 2016 this figure reached AMD 700 bln or USD 1.5 bln. In 2016 Ameriabank’s assets grew by over AMD  203 bln or 39.4%, demonstrating the most considerable absolute growth as compared with other Armenian banks. As a result, the Bank’s market share reached 17.4% vs 14.8% in 2015. Total growth in the sector was 18.5%.
         li Gaining top positions in the market by total capital due to a new investor in 2015, the Bank further boosted its leadership in 2016 with a market share of 9.6%. The bank retained and strengthened its position as a leader in terms of regulatory capital. The Bank’s total capital grew by AMD 5.1 bln or 8.6%. The Bank’s share in the banking sector by total capital reached 9.6% vs 10.7% in 2015. Total growth in the sector was 21.1%. 10 banks increased their statutory capital to comply with the regulatory requirement.
         li Liabilities to clients grew by AMD 121 bln or 41% – yet another top-of-the-rank indicator among Armenian banks, while the market share reached 17.7% vs 15.6% in 2015. Total growth in the sector was 24.1%, with Ameriabank’s contribution equal to 26.5%.
         li The Bank’s loans to the economy grew by AMD 192.4 bln or 61.4% and the Bank’s market share reached circa 19.7% vs 14.7% earlier. Total growth in the sector was 20.5%.
        ul.green-background
            li The Bank is the leader by profit. The Bank’s profit is over 6 times higher than the average profit in the banking sector and over 3 times higher than the average profit of the profit-making banks.
            li Ameriabank’s ROA and ROE ratios exceeded the average banking indicators by several times.
        p Increased cooperation with international financial institutions and international fundraising (also in the form of direct investments into the capital) has created all conditions for the further growth of the Bank and its unprecedented lending capacity to the real sector of the Armenian economy in 2017.

        .row(style="padding: 40px")
            .col-md-12
                .row
                    h4 Growth Rates of Key Performance Indicators
                    .col-md-4
                        img(data-original="images/gif/gif-4.gif")
                    .col-md-8
                        img(data-original="images/growth-rates-of-key-indicators.png")
                .row
                    .col-md-6(style="padding: 20px")
                        .shadow-container
                            p.first-letter Ameriabank is the leader of Armenian banking sector by all key financial indicators as of year-end 2016.  Тhe dynamics of key indicators of Ameriabank as well as the share of the Bank in Armenian banking sector by the latter are presented in the following graphs.
                    .col-md-6
                        img(data-original="images/gif/gif-6.gif")
                .row
                    .col-md-6
                        img(data-original="images/gif/gif-8.gif" style="margin-top: 60px;")
                    .col-md-6
                        img(data-original="images/gif/gif-9.gif")
                .row
                    .col-md-6
                        img(data-original="images/gif/gif-7.gif" style="margin-top: 60px;")
                    .col-md-6
                        img(data-original="images/gif/gif-10.gif")

    .col-md-12#business-model-and-strategy
        .divider.transparent
    .col-md-12.header
        h1 Strategic Report
        h2 Business Model and Strategy
    .col-md-12
        .divider.transparent
    .col-md-12
        .col-md-6.pull-right
            img(data-original="images/gif/gif-20.gif")
        p The year 2016 was another quite successful year of operations for Ameriabank. The Bank strengthened its positions among top banks in Armenia, proving to be a stable, modern, liquid, rapidly growing and competitive financial institution still with huge opportunities of further growth and development.
        p With special focus on meeting customer needs, the Bank has already positioned itself as a leader in innovation and service standards. Moreover, the Bank has been continually honing its work organization and corporate governance practices, customer service technology, constantly working towards enhancement of product mix, building a skilled and professional staff and taking care that the required resource base is always in place. The Bank re-affirms its position to pursue adopted strategy of building a universal bank with a balanced portfolio of corporate and retail services.
        p The key goal of the strategy is further strengthening the Bank’s leading positions in all key areas of the Armenian banking sector, in particular:
        ul.indent
            li To be an absolute leader in terms of service quality via following customer centric approach adopted back in 2008,
            li To be the leader in terms of innovations in order to keep up with best practice international banking solutions and to address dynamically changing client needs,
            li To maintain the position of the largest universal bank by assets with balanced corporate, retail and SME portfolio,
            li To improve leading position in the banking sector by main financial indicators,
            li To extensively exercise best corporate governance practices,
            li To further enhance staff loyalty and motivation and invest in human capital, including mentoring and growth of new talents.
        p Mission
        ul.indent
            li To improve the quality of life by:
            li Providing world-class financial services and business solutions to our clients,
            li Implementing business and social projects significantly impacting the well-being of the society,
            li Creating unique corporate culture and development model of an international company, uniting the efforts of successful people,
            li Consistently increasing our shareholder value.
        p Vision
        ul.indent
            li To become an international company, providing financial and business solutions.
            li Be service quality and efficiency leader in target markets, uniting exceptional people with common values.
        p In order to achieve the objectives set in Mission and Vision statements as well as Strategic goals described above, Ameriabank has set the following short to mid-term objectives:
        ul.indent
            li To invest continuously in the service quality to insure constant improvement of relevant processes as well as customer care of its personnel,
            li To insure higher market share in the mid-term as the Bank has already attracted significant additional capital to enable further aggressive growth in the market,
            li To stress retail and SME business, further develop investment banking services,
            li Ensure outpacing growth of main indicators also being among champions per efficiency indicators,
            li To deliver new banking and investment services and innovative solutions, in particular, multi-channel distance banking solutions in line with the best international practices,
            li To ensure surpassing growth rate of assets over the banking system while at the same time maintaining profitability and risks within acceptable levels,
            li To increase the share of non-interest income in total income in the long term,
            li To further enhance financial stability and hence provide additional security to all stakeholders with revised risk parameters,
            li To contribute to continuous learning, development and motivation of the team,
            li To accomplish the IPO preparation project to become the first Armenian listed financial institution on international prime market,
            li To address social issues and contribute to the community via sustainable and sound corporate social responsibility (CSR) activities focused on SMEs and business community development, financial technology evolution, professional knowledge sharing with younger generation, educational programs, support to children’s healthcare and welfare, as well as community development in general.

    .col-md-12#retail-banking
        .divider.transparent
    .col-md-12.header
        h1 Strategic Report
        h2 Retail Banking
    .col-md-12
        .divider.transparent
    .col-md-12
        p.first-letter Over the last years the Bank has been positioning itself as a universal bank with retail banking among its key strategic objectives. Despite the fact that the domestic market of retail banking services is characterized by a high level of saturation, the Bank has been pushing forward to strengthen its positions in the retail banking business.
        p In 2016 the Bank furthered promotion of distance banking solutions while emphasizing expansion of lending activities as a stimulus for economic growth. A large scale of new products and proposition have been developed and implemented.

        h4 Multi-channel Distribution Network
        p Within the framework of the complex projects aimed at empowering the Bank’s multichannel distribution network, certain activities have been initiated to facilitate expansion of the branch network:
        ul
            li The new branch “Yeritasardakan” was opened at a large shopping mall in the city centre of Yerevan;
            li Two self-service corners have been installed at easy-to-access locations;
            li Relevant arrangements have been made to enable opening of a new branch in Gyumri (scheduled for March 2017).
        p Further improvement of digital channels by making them more accessible and user-friendly for the customers has been among the Bank’s key development priorities. Consequently, Internet and mobile banking services have significantly improved with greater emphasis of the niches that have higher demand among the customers.
        p As a result, the annual year-end growth of the total number of Internet/mobile banking users as of December 2015 constituted 28.0% and that of the total number of transactions via remote channels comprised 160.5%.
        p In 2016 Ameriabank launched its full scope virtual branch on the basis of its Contact Centre. A wide range of transactions is available to the clients of the Bank, including transfers, utility payments, deposit management, operations with cards etc.
        p The Bank is setting off for the launch of CR2 BankWorld omni-channel banking platform, which is going to be a cutting edge technology in terms of distance banking experience. The remote banking channels will be unified in a single platform providing clients with maximum convenience and standardized access to the Bank’s services via various banking channels.

        h4 New Products & Propositions
        p Ameriabank has developed a Special proposal for several most important sectors of economy based on their certain needs. The list of sectors is periodically being updated upon finding out other important sectors’ employees needs. The proposal includes preferential card service terms, better lending terms including lower rates and higher than standard loan to value ratio for secured loans, special terms for remote banking channels and what’s the most important: simplified lending process. With this offer Ameriabank aims to make the banking experience of these sectors’ employees more simple and comfortable to give them opportunity to concentrate on their important mission.
        p A new product called “Equity Loan” has been introduced in 2016. The main idea underlying this product is the credit limit approved for individuals through a simplified procedure. Under this new service, the Bank determines a credit limit for the customer which can be used at any time of the customer’s choice without the need to incur additional costs for notarial verification.
        p Taking into account that Ameriabank has quite a big base of loyal partners and clients the Bank has decided to develop a new Referral programme to say “Thank you” to those clients who do not hesitate to advise Ameriabank as a good bank. The programme also delivers the idea that good things should be shared with good people and that on top of it, sharing is rewarded. Being applicable for both legal and physical entities the programme provides both Ameriabank’s clients and non-clients  an opportunity to receive a reward for referring certain services of the Bank. At the same time people who have been referred get preferential terms of service.
        p New opportunities proposed in 2016 include new product called “Effective Loan” aimed at financing acquisition of energy-efficient technologies. Simple procedure and low interest rate are the main advantages of this product.
        p In cooperation with EBRD, the Bank offered loans specifically aimed at the development of businesses run by women. The Bank plans to further expand the activities in this direction to establish favorable conditions for women in business.
        p Within the framework of cooperation with Unistream, a new service called “Transfer to Card” has been introduced. This service  enables customers to receive money remittances on 24/7 basis directly on their cards and to manage the funds without necessarily visiting the Bank.

        h4 Client Service
        p A complex set of actions has been taken to enhance the efficiency of customer service, to improve the queue management process and the customers’ queue experience. Within this concept, a queue management system was introduced at the branches of the Bank operating in Yerevan.
        p In 2017, the Bank plans to introduce the mobile version of the queue management system, thus enabling improved servicing and better time management for customers.

        h4 Salary Projects
        p Ameriabank continued to work towards implementing new salary projects in 2016, thus making this product even more effective and beneficial for the customers. Hence, around 90 contracts were signed with companies and organizations for the full-scope use of the benefits of salary project packages.

        h4 Client Base & Deposits
        p Revised customer strategy and improved customer experience explain the increase of the Retail business segment portfolio by 7.8% along with 4.9% increase of the number of individual customers.
        p In addition to the improved quantitative indicators of the customer base, the deposit base has demonstrated similar improvement patterns. In particular, continuous expansion resulted in 10% increase in demand deposit of retail segment, totalling to AMD 41,221 mln and in 16% increase in time deposit in retail segment, totalling to AMD 123,028 mln.
        p In 2016 the Bank issued bonds at a total amount of AMD 8,421 mln, of which AMD 6,358 mln was acquired by individuals. This was an indication of the high  level of trust and effective cooperation with the clients of the Bank.

        h4 Payment Cards
        p Further development of card business has always been among the strategic priorities of the Bank. This goal is achieved by means of improving the current card services and introducing new ones. Among such services introduced in 2016 was the cash-back system enabling clients’ partial refund of non-cash expenditures at certain sales points.
        p High quality and ease of access are the pillars underlying the development of the Bank’s card business. The 24/7 card monitoring and help-desk services enable provision of high quality assistance to the clients. Due to these and other relevant efforts, the Bank improved its key performance indicators in this business resulting in 9.8% increase of the total number of cards.
        p The Bank considers credit lines as another important component of the card business. Significant efforts in this direction resulted in a 25% increase of the credit card portfolio indicator.
            br
            | Targeting enhancement of the customers’ shopping experience influenced the development of the Bank’s POS and virtual POS network. In 2016, the number of virtual POS terminals increased by 72%, totalling to 179 and the total volume of respective transactions increased by 106%. The number of POS terminals increased by 45%, totalling to 1,253 and the total volume of transactions increased by 33%.

        h4 Retail Lending
        p In 2016 the Bank revised and fundamentally improved its conditions for lending in several material aspects, such as:
        ul
            li Review of non-interest lending terms and conditions  (eligibility criteria, simplified lending based on ACRA score, loan products term review),
            li Interest rate review (lowered rates for all currencies),
            li Review of cooperation agreements with car dealers (in an effort to make lending component more beneficial for the customers).
        p A large-scale refinancing campaign was launched in March 2016 to propose re-financing of clients loans provided by other banks while compensating all costs of loan relocation. The campaign targeted relieving the clients’ credit burden by offering lower interest rates and longer repayment periods. Thus, the campaign enabled the clients to ease the burden of monthly payments via relocating a wide variety of loans including SME loans, mortgage loans, car loans etc.

        .green-background
            p 2016 resulted in a significant increase of the Bank’s retail portfolio by 25.7%. As of the year-end 2016 the retail segment of loan portfolio constituted AMD 60,240 mln. Within the structure of growth, Retail SME loans had the largest increase of 66%. As to the loans for individuals, the volume of the mortgage portfolio reached AMD 20,051 mln (15% increase over the previous year), that of the car loans – AMD 2,043 mln, and of the credit cards – AMD 18,404 mln.

    .col-md-12
        .row(style="padding: 40px")
            .col-md-12
                .row
                    .col-md-6
                        h6 Term and Demand Deposits of Retail segment clients (including bonds) at Ameriabank
                        img(data-original="images/gif/gif-15.gif")
                    .col-md-6
                        h6 Retail Clients at Ameriabank
                        img(data-original="images/retail-clients-at-ameriabank.png" style="position: relative; top: 30px")
                .row
                    .col-md-6
                        h6 Loans of Retail segment clients AMD mln
                        img(data-original="images/gif/gif-14.gif")
                    .col-md-6
                        h6 Number of Payment Cards
                        img(data-original="images/number-of-payment-cards.png" style="position: relative; top: 28px")
                .row
                    .col-md-12
                        img(data-original="images/breakdown-of-ameria-bank-retail-segment-loan-portfolio.png")

    .col-md-12#corporate-banking
        .divider.transparent
    .col-md-12.header
        h1 Strategic Report
        h2 Corporate Banking
    .col-md-12
        .divider.transparent
    .col-md-12
        p.first-letter Ameriabank stands out in the banking sector with its sterling reputation as a reliable strategic partner. The Bank demonstrates an individual approach to each client, offering tailored solutions comprising a mix of various financial tools.
        p During the reporting period, Ameriabank significantly enlarged its corporate segment client base by more than 18.5%. Its corporate sement clients’ demand deposits portfolio increased by nearly 165% vs 2015, and the corporate segment time deposits grew by 65% vs 2015. In 2016 Ameriabank started to issue corporate bonds and succeeded to place them in their entirety (for more details, see Capital Markets).
        p While working with corporate clients, Ameriabank applies the following principles:
        ul
            li Individual approach,
            li High quality of service,
            li Partnership (including comprehensive counsel on the business efficiency of financial solutions available in the local and external markets),
            li Assistance in growth and transparency of operations,
            li Access to targeted programme funds.
        p During 2016 the Bank maintained its leading position in corporate lending for 7 consecutive years. The loans to large corporates increased by 77% vs 2015, totaling to 384 billion AMD.
            br
            | The Bank also continued to boost lending to SMEs throughout 2016 offering financing at competitive and favorable terms. The targeted policy of the Bank in SME lending resulted in increase of SME loans of corporate segment by 38.4% to AMD 63.8 bln (equivalent of USD 131.5 mln) as of year-end 2016. The growth of the portfolio was driven mainly by the application of flexible lending mechanisms during the financing process, individual approach to clients and high quality service. SME financing was channelled into diverse industries, including energy sector, agriculture, construction, tourism, etc. The Bank placed stronger emphasis on energy efficiency and energy saving projects, offering most favorable terms of financing to companies.

        h4 Financial Lease & Factoring
        p In 2016 Ameriabank reviewed the structure of financial lease, in particular, introduced it for real estate deals. Significant increase was reported in the volume of energy efficient equipment and machinery purchased by Ameriabank’s clients via financial lease mechanism.
        p Another important direction of financing in 2016 was factoring as the most appropriate commercial solution for short-term financing. As of year-end of 2016,  Ameriabank’s factoring portfolio amounted AMD 4.2 bln. The total volume of factoring transactions increased by 61% in 2016 as compared with that of 2015. The significant portion of the transactions falls upon export factoring accounting for 77% of the total factoring volume. While focusing on export factoring transactions the Bank started working closely with a diverse range of clients (of all sizes, engaged in various industries) facing working capital and cash flow shortages. As a result the total volume of export factoring operations was AMD 21.2 bln, which makes 33% increase compared to the previous year. Operating with multifaceted clients enhances Ameriabank’s opportunities to develop non-standard, individual approaches for any client, who networks with partners within the scope of deferred payment options.
        p Ameriabank is an associated member of Factors Chain International since 2013, which has become the global representative body for the Factoring & Receivables Finance Industry (latter joined IFG (International Factors Group) in 2016). It is a unique platform both for exporters and importers to cooperate closely in the international arena and to develop a framework for worldwide factoring operations.

        h4 Trade Finance
        p Ameriabank is one of the main providers of trade finance services in Armenia. The trade finance products offered by the Bank are designed to reduce the possible risks when doing business both abroad and in domestic market.
        p The Bank has received awards from prestigious international organizations for many years due to the high quality of service, interesting projects and significant amount of issued letters of credit and bank guarantees. Among such awards are: the Most Active Issuer in Armenia by EBRD, the Most active GTFP Issuing Bank in the Caucasus by IFC, the Deal of the Year by EBRD for financing the building of the new generation fibre-optic network in Armenia, the Best GTFP Issuing Bank for Energy Efficiency by IFC, Award for Excellent Cooperation in Trade Finance by Commerzbank AG. It’s noteworthy that in 2013 Ameriabank also became the first bank in Armenia to receive a confirming bank status under the Trade Facilitation Programme (TFP) by EBRD. In 2016 the European Bank for Reconstruction and Development Bank (EBRD) once again awarded Ameriabank but this time in the category of “Deal of the year – Energy Efficiency” for the greenhouse energy efficiency improvement project.
        p Ameriabank cooperates with a number of international banks. Through years of cooperation Unicredit has proven to be a reliable partner for Ameriabank, providing Trade Finance services under established credit limits. Ameriabank and Unicredit are continuously expanding the areas of cooperation creating new opportunities for clients involved in external trade. Ameriabank and Citibank have effectively cooperated for years, gradually increasing the amounts and numbers of transactions and thereby providing cheaper financing to Armenian companies. In 2011, Ameriabank and Citibank signed CARTA Agreement (Continuing Agreement for Reimbursement of Trade Advances). Due to successful cooperation under this and other agreements Citibank has increased financial limits for Ameriabank.

        .row
            .col-md-5
                img(data-original="images/gif/gif-1.gif")
            .col-md-7
                img(data-original="images/loans-to-sme-loans-to-corporates.png" style="position: relative; top: 48px;")

        p By building close relationships with its clients, the Bank is able to offer sensible advice and innovative solutions for clients’ financing needs. In 2016 the Bank proved once again to be a reliable, dynamic and trusted business partner in trade finance. Particularly as of the end of 2016, the letter of credit and bank guarantee portfolio exceeded AMD 17.45 bln.
        p Thanks to the fundraising for LC issuance, the Bank, in cooperation with IFC, EBRD, ADB and a number of prominent commercial banks, provides long-term financing at the below-market rates to support import transactions. During 2016 Ameriabank provided funding to trade by issuing both local and international payment instruments, servicing export/import operations, providing direct financing of import and export transactions to local manufactures and raising funds from the leading global banks and IFIs. Specifically, as of year-end 2016, the total limit obtained by Ameriabank from major commercial banks and IFIs went beyond AMD 71 bln.
        p During the reporting period Ameriabank successfully completed several deals of national importance in such sectors as manufacturing, green houses, mining, metallurgy, commodity financing. These were particularly impressive by their volume and importance not only for the local market but also the region as a whole.

    .col-md-12#investment-banking-and-trading
        .divider.transparent
    .col-md-12.header
        h1 Strategic Report
        h2 Investment Banking and Trading
    .col-md-12
        .divider.transparent
    .col-md-12
        h4 Investment Banking & Trading
        p As an innovative universal bank, Ameriabank, has laid the groundwork for the development of investment banking and trading services in Armenia. With its debuts and landmark transactions, Ameriabank has retained its leading position and contributed immensely to the evolving local financial market.
        p Ameriabank offers a wide range of investment banking and trading services in Armenia, such as corporate finance, capital markets, M&A, direct investments, FX and securities brokerage, securities registration and custody services provided by the Depositary through the Bank.

        h4 Corporate Finance Advisory
        p Ameriabank’s Corporate Finance (CF) Unit provides stand-by support on various corporate finance matters and designs solutions for the clients of the Bank. The Bank’s CF team includes professionals, who advise clients on an array of topics, including debt and equity fundraising from non-public capital markets, credit rating procurement and bank funding strategy design.
        p In 2016, the CF team contributed significantly to fuelling the Bank’s growth, raising USD 100 mln funds from five different International/Development Financial Institutions (IFIs/DFIs). Ameriabank does not only maintain the smooth roll over of existing relationships with the partner IFI/DFIs, but also keeps discovering new international partners interested in supporting sustainable business areas in Armenia.
        p In 2016 the list of IFI partners was updated with two more esteemed lenders: Luxembourg based responsAbility Investments AG and Global Climate Partnership Fund (GCPF).
        p Throughout the last 7 years, the cumulative volume of funds attracted from IFIs/DFIs reached USD 500 mln, including funds raised from the International Finance Corporation (IFC), Netherlands Development Finance Company (FMO), German Investment and Development Company (DEG), European Bank for Reconstruction and Development (EBRD), Eurasian Development Bank (EDB), Asian Development Bank (ADB), Development Bank of Austria (OeEB), PROPARCO, Black Sea Trade and Development Bank (BSTDB) and OPEC fund for International Development (OFID), responsAbility Investments AG and Global Climate Partnership Fund (GCPF). The list of our partners, however, is not limited to IFIs/DFIs only, but also includes a number of major international commercial banks (for more details, see Historic Milestones and Global Partners).
        p The successful on-lending of the attracted funds reconfirmed Ameriabank’s focus on supporting SMEs, EE/RE, education, health and agribusiness projects in Armenia. Leveraging its openness and flexibility, Ameriabank became the first financial institution in Armenia to join EBRD’s Women in Business (WiB) programme, aiming to support female entrepreneurship by providing women-led SMEs with access to finance, know-how and business advisory. The funds were made available in AMD, which is supposed to provide currency risk mitigation to the ultimate beneficiaries.
        p The intermediation of the funds’ flows to the segments in need is one of the most important means of nurturing the sustainable growth of the country’s economy. On a private client advisory side, Ameriabank was retained by two of the largest greenhouse operators in Armenia to advise them in structuring and raising around USD 100 mln long-term funds for their large scale expansion projects with negotiations progressing throughout 2016 and graduating in 2017.

        h4 Capital Markets
        p With its dedicated and experienced capital markets team, Ameriabank offers full range of services to local debt and equity issuers, including corporate bond originations, IPOs/SPOs, market making services and IPO advisory. In 2016 Ameriabank maintained its leading position in local capital markets.

        .green-background
            p Ameriabank debuted in the local market with its own corporate bonds by arranging issuance and placement of USD 15 mln denominated bonds, making it the largest corporate bond issuance in local market up to date, comprising 45% of the outstanding USD bonds at NASDAQ OMX Armenia stock exchange.

        p An issuance programme of bonds with total issue size of USD 50 mln followed, USD 5 mln of which were placed via the first tranche. Ameriabank has engaged a market maker for ensuring proper liquidity in the secondary market.
        p USD denominated bonds issuance will be an ongoing process, with active secondary market and significant liquidity for the local market.
        p Another successful bond project that Ameriabank completed in Q4, was the issuance and placement of AMD 1 bln local currency bonds, thus offering an attractive investment product for public pension fund managers and other local currency investors.
        p AMD denominated bonds issued by  IFC  and EBRD were successfully redeemed in 2016. Ameriabank was the market maker and ensured an unmatched secondary market in terms of liquidity (width and depth) for these local currency bonds with its active market making.

        .shadow-container(style="padding: 10px 30px 5px 30px;")
            p IFC and EBRD AMD denominated bonds were unique DCM projects by being the first ever non-resident and AAA-rated LCY bond originations. EBRD notes were also the first ever floaters introduced to local banks and other financial institutions as a new tool for liquidity management.

        p Ameriabank still advocates for capital market development in Armenia and in the region, believing in and contributing to the promising future of both local equity and debt securities markets.

        .row(style="margin: 20px 0")
            .col-md-6.col-md-offset-3
                img(data-original="images/ameriabank-bonds-issued-2-col.png")

        h4 Mergers & Acquisitions
        p Ameriabank’s M&A team offers wide range of corporate finance services, including: identification of potential investors or targets, preparation of relevant investor outreach documents (teaser, information memorandum), transaction design and financial modeling, business valuation reports, synergy valuation report, post-deal review and analysis, etc. Ameriabank takes advantage of unique market knowledge and networking with the business community in Armenia and abroad.
        p In FY 2016, M&A team focused on HORECA, financial services, mining, specialty retail, commercial real estate, telecommunication services, hospitals and healthcare services and food processing sectors. Ameriabank has advised its clients in various sectors, including real estate, transport, telecommunication, agriculture and power generation.
        p Minimum regulatory capital requirement set by the Central Bank of Armenia and kicked in starting 01 January 2017 was an M&A catalyst in the banking sector during the last two years. While stemming M&A buzz did result in couple of small ticket deals, however the landscape still remains flat with high propensity to systemic deals yet to come which will lead to inevitable consolidation in the banking sector. Ameriabank’s M&A team has advised in three major bank M&A deals and will keep further developments under its radar to reveal shareholder value accretive M&A opportunities.


        h4 Trading
        p in the local market by FX. In 2016, the net income from trading (foreign exchange, gold and securities) recorded a substantial increase by 59.7%, which is significantly higher than that of the banking sector staying almost at the same level of 0.5%.
        p During 2016, Armenian foreign exchange market was relatively stable and there were no significant currency rate fluctuations.  The growth of the Bank’s customers’ foreign exchange activities outstripped that of the banking sector’s average volumes. The share of trading in the banking sector constituted 23.3%. Ameriabank continued to be very active in the market of Armenian Eurobonds and was still one of the largest investors in the Armenian banking sector by volumes of investments into non-governmental bonds.
        p In to 2016 the number of Ameriabank clients using brokerage services grew by more than 10%, the transactions grew by over 20%.
        p The Bank’s brokerage services are available on more than 100 specialized platforms in 23 countries worldwide, enabling clients to trade in multiple securities and keep track of the latest market developments. Brokerage accounts with Ameriabank give access to all major stock exchanges worldwide such as NYSE, NASDAQ, AMEX, ARCA, CBOT and others (US), Toronto Stock Exchange, Montreal Exchange (Canada), LSE, LSE International Order Book (UK), Frankfurt Stock Exchange FWB (Germany), Vienna Stock Exchange VSE (Austria), Euronext Brussels Stocks, Nasdaq OMX Europe NUROEN (Belgium), Euronext France SBF (France), Swiss Exchange SWX (Switzerland), Borsa Italiana (Italy), Bolsa de Madrid (Spain), Tokyo Stock Exchange TSE JPN (Japan), Hong Kong Stock Exchange SEHK (China), Australian Stock Exchange ASX (Australia) and many others. The Bank’s brokerage clients can trade in securities denominated in multiple currencies and follow quotations in real time.
        p As a result of the aforementioned activities, Global Finance recognized Ameriabank as the Best Foreign Exchange Provider in Armenia 2016. In the beginning of 2017, NASDAQ OMX Armenia announced the winners of the Best Exchange Member 2016 awards. Ameriabank won Best Account Operator-Custodian of Depository System in Foreign Securities Market.